#crystals h3{
  position:relative;
  padding-left:2em;
}

#crystals .amount{
  display: inline-block;
  position: relative;
  padding-right: 1.5em;
}
#crystals .currency{
  position: absolute;
  bottom: -.5em;
  right: -1em;
  height: 3em;
}

#crystals .icon{
  position: absolute;
  top: -4px;
  left:0;
  height: 32px;
  width: 32px;
}

#crystals .crystal-champion{
  position:relative;
  padding-left:28px;
  min-height:38px;
}

#crystals .crystal-champion .name{
  position: relative;
  font-weight: bold;
  top: 4px;
  line-height: 2em;
}

#crystals .crystal-champion img{
  position:absolute;
  top: 2px;
} 
#crystals .crystal-champion img.champion{
  left:0;
  border-bottom:solid 4px;
  padding:0;
  width:24px;
  height:24px;
} 

/* Collapsibles in Controlgroup */
#crystals .description{
  border-radius:inherit;
  border-style:solid;
  border-width:1px;
  border-bottom-width:0;
}
#crystals .ui-controlgroup  .ui-collapsible-inset{
  margin:0;
}
#crystals .ui-controlgroup .ui-controlgroup-controls > div{
  border-bottom-width:0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
#crystals .ui-controlgroup .ui-controlgroup-controls > div:first-child{
  border-bottom-width:0;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
}
#crystals .ui-controlgroup .ui-controlgroup-controls > div:last-child{
  border-bottom-width:0;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
#crystals .ui-controlgroup .ui-controlgroup-controls .ui-collapsible .ui-collapsible-content{
  border-bottom-width:0;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}
#crystals .ui-controlgroup .ui-controlgroup-controls .ui-collapsible:last-child .ui-collapsible-content{
  border-bottom-width:1px;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

/* RESPONSIVE */
@media (max-width:350px), (max-height:400px) {
  #crystals{
    padding:0;
    font-size:0.8em;
  }
  #crystals .ui-collapsible-inset .ui-collapsible-heading .ui-btn,
  #crystals .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    border-left-width:0;
    border-right-width:0;
    border-radius:0;
  }
  #crystals.ui-collapsible-inset .ui-collapsible-heading .ui-btn{
    border-top-width:0;
  }
  #crystals .ui-collapsible{
    margin:0;
  }
}