.cosmic{
  color:#3af;
}
.tech{
  color:#23f;
}
.mutant{
  color:#fa0;
}
.skill{
  color:#f30;
}
.science{
  color:#0a0;
}
.mystic{
  color:#90f;
}


/******************
     CHAMPION
******************/

#teams .champion .inner,
#roster .champion .inner,
#add-champions .champion .inner{
  cursor:pointer;
}

.champion{
  display:block;
  position:relative;
  float:left;
  height:0%;
  width:16.66666%;
  padding-bottom:16.66666%;
}
@media (max-width:500px) {
  .champion{
    width:33.333333333333333%;
    padding-bottom:33.33333333333333333%;
  }
}
@media (min-width:500px) and (max-width:700px) {
  .champion{
    width:25%;
    padding-bottom:25%;
  }
}
@media (min-width:700px) and (max-width:900px) {
  .champion{
    width:20%;
    padding-bottom:20%;
  }
}
@media (min-width:900px) and (max-width:1100px) {
  .champion{
    width:16.6666666%;
    padding-bottom:16.6666666%;
  }
}
@media (min-width:1100px) and (max-width:1300px) {
  .champion{
    width:14.285714285714286%;
    padding-bottom:14.285714285714286%;
  }
}
@media (min-width:1300px) and (max-width:1500px) {
  .champion{
    width:12.5%;
    padding-bottom:12.5%;
  }
}
@media (min-width:1500px) and (max-width:1700px) {
  .champion{
    width:11.11111111111111%;
    padding-bottom:11.11111111111111%;
  }
}
@media (min-width:1700px) {
  .champion{
    width:10%;
    padding-bottom:10%;
  }
}

.champion.hidden{
  display:none;
}

.champion .container{
  position:absolute;
  width:100%;
  height:100%;
  box-sizing:border-box;
  padding:10px;
}
.champion .inner{
  position:relative;
  width:100%;
  height:100%;
}
.champion .inner .portrait{
  position:absolute;
  width:100%;
  height:100%;
}

#roster .champion .container.selected,
#roster .champion .container:active,
#roster .champion .container:hover,
#add-champions .champion .container:active,
#add-champions .champion .container:hover{
  -ms-transform:scale(1.1, 1.1);
  -webkit-transform:scale(1.1, 1.1);
  transform:scale(1.1, 1.1);
}

.champion .grade{
  display:block;
  line-height:1em;
  position: absolute;
  top: 0;
  right: 0;
  padding:0 4px;
  background:rgba(0,0,0,0.5);
  border-radius:5px;
}

.champion .grade-a{
  color:#0c0;
} 
.champion .grade-b{
  color:#6c0;
} 
.champion .grade-c{
  color:#990;
} 
.champion .grade-d{
  color:#c60;
} 
.champion .grade-e,
.champion .grade-f{
  color:#c00;
} 

.champion .quest{
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 33%;
}

.champion .title{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  overflow:hidden;
  min-height:14px;
  background:rgba(0,0,0,0.5);
  box-sizing:border-box;
  border-bottom:solid 10px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

.champion .name{
  display:block;
  box-sizing:border-box;
  text-align:center;
  width:100%;
  padding:0 3px;
  font-weight:normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.champion .stars{
  position:absolute;
  right:0;
  display:block;
  width:100%;
  text-align:center;
  vertical-align:text-bottom;
  pointer-events:none;
}
.champion .star{
  display:inline-block;
  position:relative;
  width:19%;
  margin-right:1%;
  padding:0;
}
.champion .star:last-child{
  margin-right:0;
}

.champion span{
  font-family:Hanzel, Verdana, Geneva, sans-serif;
  font-size:1em;
  font-weight:bold;
  text-transform: uppercase;
}

.champion .name,
.champion .grade{
  color:#f6f6f6;
  text-shadow: 1px 1px #111;
}

/******************
    RESPONSIVE
******************/

@media (max-width:355px) {
  .champion .title{
    border-bottom-width: 6px;
  }
  .champion .stars{
    bottom:-17%;
  }
  .champion span{
    font-size:0.6em;
    line-height:1.5em;
  }
}
@media (max-width:800px) and (min-width:355px) {
  .champion .title{
    border-bottom-width: 8px;
  }
  .champion .stars{
    bottom:-15%;
  }
  .champion span{
    font-size:0.8em;
    line-height:1.5em;
  }
}
@media (min-width:800px) {
  .champion .stars{
    bottom:-14%;
  }
  .champion span{
    font-size:1em;
    line-height:1.5em;
  }
}