/******************
    GUIDE NAV
******************/

.frame { 
  width: 100%; 
  height: 120px; 
  padding: 0; 
}
.frame .slidee { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  list-style: none;
}
.frame .slidee li { 
  cursor:pointer;
  float: left; 
  position:relative;
  padding: 0; 
  width: 120px; 
  height: 100%; 
  opacity:0.33;
  /* transition:opacity 200ms, height 200ms, width 200ms, top 200ms; */
}
.frame .slidee li:hover { 
  opacity:0.66; 
}
.frame .slidee li.active { 
  opacity:1; 
}
.frame .slidee .hero{
  width:100%;
  padding-bottom:100%;
}
.frame .slidee .hero .container{
  padding:0 !important;
}

#page-guide #header .ui-select{
  margin:0;
}
#guide-champions-selector-button{
  width: 100%;
  box-sizing: border-box;
}

@media (max-height:355px) {
  .frame{
    display:none;
  }
  #page-guide #header .ui-select{
    display:block;
  }
}
@media (min-height:355px) {
  #page-guide #header .ui-select{
    display:none;
  }
}

@media (max-width:355px) {
  .frame { height: 72px; }
  .frame .slidee li { width: 57px; width:57px; top:15px; margin: 0 1px;  }
  .frame .slidee li.active { height: 72px; width: 72px; top:0; }
}
@media (max-width:450px) and (min-width:355px) {
  .frame { height: 84px; }
  .frame .slidee li { width: 67px; width:67px; top:17px; margin: 0 1px; }
  .frame .slidee li.active { height: 84px; width: 84px; top:0; }
}
@media (max-width:550px) and (min-width:450px) {
  .frame { height: 96px; }
  .frame .slidee li { width: 76px; width:76px; top:20px; margin: 0 2px; }
  .frame .slidee li.active { height: 96px; width: 96px; top:0; }
}
@media (max-width:650px) and (min-width:550px) {
  .frame { height: 108px; }
  .frame .slidee li { width: 86px; width:86px; top:22px; margin: 0 2px; }
  .frame .slidee li.active { height: 108px; width: 108px; top:0; }
}
@media (max-width:750px) and (min-width:650px) {
  .frame { height: 120px; }
  .frame .slidee li { width: 96px; width:96px; top:24px; margin: 0 3px; }
  .frame .slidee li.active { height: 120px; width: 120px; top:0; }
}
@media (min-width:750px) {
  .frame { height: 132px; }
  .frame .slidee li { width: 105px; width:105px; top:27px; margin: 0 4px; }
  .frame .slidee li.active { height: 132px; width: 132px; top:0; }
}

/******************
      GUIDES
******************/

#guide-content h1, 
#guide-content h1 a, 
#guide-content h2, 
#guide-content h2 a, 
#guide-content h3, 
#guide-content h3 a, 
#guide-content h4, 
#guide-content h4 a, 
#guide-content label,
#guide-content .title p{
  font-family:Hanzel, Verdana, Geneva, sans-serif;
  text-transform:uppercase;
}

#guide-content,
#guide-content .container{
  height: inherit;
}
#guide-content .background{
  position:fixed;
  bottom:69px;
  right:0;
  z-index:0;
  height:50%;
  opacity:0.5;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  pointer-events:none;
}
#guide-content .container{
  z-index:10;
  position:relative;
}

#guide-content p.bold{
  font-size:1.15em;
}

#guide-content .rating{
  float:right;
  padding-right:20px;
}
#guide-content .grade-a,
#guide-content .rating-5{
  color:#0c0;
} 
#guide-content .grade-b,
#guide-content .rating-4{
  color:#6c0;
} 
#guide-content .grade-c,
#guide-content .rating-3{
  color:#990;
} 
#guide-content .grade-d,
#guide-content .rating-2{
  color:#c60;
} 
#guide-content .grade-e,
#guide-content .grade-f,
#guide-content .rating-1{
  color:#c00;
} 

#guide-content .range-short{
  color:#c00;
} 
#guide-content .range-medium{
  color:#990;
} 
#guide-content .range-long{
  color:#0c0;
} 

#guide-content .damage-energy{
  color:#06c;
} 

#guide-content .perk-bleed-immunity{
  color:#600;
} 
#guide-content .perk-poison-immunity{
  color:#060;
} 
#guide-content .perk-regeneration{
  color:#00c;
} 
#guide-content .perk-armor-up{
  color:#06c;
} 
#guide-content .perk-evade{
  color:#0c0;
} 

#guide-content .synergy{
  position:relative;
  padding-left:64px;
  min-height:32px;
}

#guide-content .synergy img{
  position:absolute;
  top: -4px;
} 
#guide-content .synergy img.champion{
  left:0;
  border-bottom:solid 3px;
  width:28px;
  height:25px;
} 
#guide-content .synergy img.effect{
  left:30px;
  width:28px;
} 

#guide-content .ui-collapsible-heading-toggle{
  background:linear-gradient( rgba(255,255,255,0.75) /*{c-bup-background-start}*/, rgba(200,200,200,0.75) /*{c-bup-background-end}*/);
}
#guide-content .ui-collapsible-content{
  background:rgba(255,255,255,0.75);
}


@media (max-width:350px) {
  #guide-content{
    padding:0;
    font-size:0.8em;
  }
  #guide-content .ui-collapsible-inset .ui-collapsible-heading .ui-btn,
  #guide-content .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    border-left-width:0;
    border-right-width:0;
    border-radius:0;
  }
  #guide-content .container div:first-child{
    margin-top:0;
  }
  #guide-content .container div:last-child{
    margin-bottom:0;
  }
}

@media (max-width:800px) and (min-width:350px) {
  #guide-content{
    font-size:0.9em;
  }
}

@media (min-width:800px) {
  .hero .name{
    font-size:1em;
    line-height:1.5em;
  }
  .hero .stars{
    bottom:-15%;
  }
  #teams .synergy span{
    font-size:1em;
    line-height:1em;
  }
  #teams .synergy img{
    top: 4px;
    width:22px;
  }
  
  #guide-content  .left,
  #guide-content  .right{
    float:left;
    width:49.5%;
  }
  #guide-content  .left{
    margin-right:1%;
  }
}