html, body, div, img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectable{
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

body.ui-mobile-viewport{
  background: #f0f0f0;
  background: -webkit-radial-gradient(#fff, #eee, #aaa); 
  background: -o-radial-gradient(#fff, #eee, #aaa); 
  background: -moz-radial-gradient(#fff, #eee, #aaa); 
  background: radial-gradient(#fff, #eee, #aaa);   
  background-attachment: fixed;
}

.ui-page-theme-c,
.ui-page-theme-c .ui-panel-wrapper{  
  background: rgba(0,0,0,0);
}

#header h1,
#footer a,
.bold,
.panel h2,
.panel label,
.panel .ui-select span,
#button-build-settings-apply{
  font-family:Hanzel, Verdana, Geneva, sans-serif !important;
  text-transform: uppercase;
}

.bold{
  font-weight:bold;
}

#header h1{
  font-size:1.2em;
  line-height:1.0em;
}
#footer a{
  font-size:1.0em;
  line-height:1.0em;
}

#roster .message,
#teams .message{
  color:#f6f6f6;
  text-shadow:1px 1px #111;
  margin:0 auto 24px auto;
  background:rgba(0,0,0,0.5);
  width:100%;
  max-width:400px;
  text-align:center;
  box-sizing:border-box;
  padding:16px;
  border-radius:10px;
}

/******************
  HEADER BUTTONS
******************/

#header .ui-btn-left,
#header .ui-btn-right{
  position:absolute;
  top:0;
  height:46px;
  min-width:50px;
  background:none;
  border:none;
  box-shadow:none;
}
#header .ui-btn-left::after,
#header .ui-btn-left::before,
#header .ui-btn-right::after,
#header .ui-btn-right::before{
  border:none;
  box-shadow:none;
  background-color:inherit;
  height:32px;
  width:32px;
  background-size:24px;
  margin-left:-16px;
  margin-top:-17px;
}
#header .ui-btn-right::after,
#header .ui-btn-right::before{
}
#header .ui-btn-left{
  left:0;
}
#header .ui-btn-right{
  right:0;
}


.ui-icon-crystal:after{
  background-image:url(../images/icons/crystal.png);
}

/******************
    ONBOARDING
******************/

.ui-header-fixed{
  z-index:1001;
}
.ui-panel-display-overlay{
  z-index:1002;
}
.onboarding{
  position:fixed;
  top:-100px;
  left:0;
  width:100%;
  transition:top 1s;
  color:#f6f6f6;
  text-shadow:1px 1px #111;
  background:rgba(0,0,0,0.5);
	background-position: center center;
	background-repeat: no-repeat;
  box-sizing:border-box;
  z-index:1000;
  padding-left:20px;
  padding-right:20px;
}
.onboarding.left{
  padding-left:96px;
  padding-right:20px;
  background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%2214%2C11%206.5%2C3.5%2010%2C0%200%2C0%200%2C10%203.5%2C6.5%2011%2C14%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size:32px;
  background-position:left 54px top 16px;
}
.onboarding.right{
  text-align:right;
  padding-left:20px;
  padding-right:88px;
  background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%2214%2C0%204%2C0%207.5%2C3.5%200%2C11%203%2C14%2010.5%2C6.5%2014%2C10%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size:32px;
  background-position:right 42px top 16px;

}
.onboarding.show{
  top:44px;
}
#onboarding-progress.onboarding.show{
  top:90px;
}

/******************
    TYPE ICONS
******************/

.ui-icon-cosmic:after,
.ui-icon-tech:after,
.ui-icon-mutant:after,
.ui-icon-skill:after,
.ui-icon-science:after,
.ui-icon-mystic:after{
  background:none;
  background-size:contain;
  width:32px;
  height:32px;
  margin-top: -16px;
}
.ui-icon-cosmic:after{
  background-image:url(../images/icons/cosmic.png);
}
.ui-icon-tech:after{
  background-image:url(../images/icons/tech.png);
}
.ui-icon-mutant:after{
  background-image:url(../images/icons/mutant.png);
}
.ui-icon-skill:after{
  background-image:url(../images/icons/skill.png);
}
.ui-icon-science:after{
  background-image:url(../images/icons/science.png);
}
.ui-icon-mystic:after{
  background-image:url(../images/icons/mystic.png);
}

/******************
    RESPONSIVE
******************/

@media (max-height:400px) {
  #header h1{
    font-size:1.0em;
  }
  #footer a{
    font-size:0.75em;
    line-height:0.75em;
  }
}

