html,
body,
.page{  
  border: none !important;
  padding:0 !important;
  background: #fff !important;
  overflow:visible !important;
  height:inherit !important;
  min-height:0 !important;
}

.message{
  background:#fff !important;
  padding:none !important;
  color:#111 !important;
  font-size:0.9em !important;
}

/* HIDE HEADERS FOOTERS ONBOARDING POPUPS PANELS AND GUIDE BACKGROUNDS */
#header,
#footer,
.onboarding,
#guide-content .background,
.ui-popup-screen,
.ui-popup-container,
.panel{
  display:none !important;
}

/* DONT CUT PORTRAITS OR TEAMS */
#teams .team,
#roster .hero,
#extras .hero{
  page-break-inside: avoid !important;
}

#roster .hero .container,
#extras .hero .container{
  padding: 0px 10px 20px 10px !important;
}

/* CLEAN UP GUIDE CONTENT FOR PRINTING */
#guide-content div.ui-collapsible{
  page-break-inside: avoid !important;
}

#guide-content div,
#guide-content h2,
#guide-content h4,
#guide-content a{
  border:none !important;
  background:#fff !important;
  border-radius:0 !important;
}
#guide-content h2,
#guide-content h4{
  border-bottom:solid 2px #ccc !important;
}
#guide-content h2 a,
#guide-content h4 a,
#guide-content .bold{
  font-weight: normal !important;
}

#guide-content .ui-icon-minus,
#guide-content .ui-icon-plus{
  padding-left:0 !important;
}
#guide-content .ui-icon-minus:after,
#guide-content .ui-icon-plus:after{
  display:none !important;
}