html,
body,
.page{  
  border: none !important;
  padding:0 !important;
  background:none !important;
  overflow:visible !important;
  height:inherit !important;
  min-height:0 !important;
  text-shadow: none !important;
}

.message{
  background:none !important;
  padding:none !important;
  color:#111 !important;
  font-size:0.9em !important;
}

/* HIDE HEADERS FOOTERS ONBOARDING POPUPS PANELS AND GUIDE BACKGROUNDS */
#header,
#footer,
.onboarding,
.ui-popup-screen,
.ui-popup-container,
.panel{
  display:none !important;
}

/* DONT CUT PORTRAITS OR TEAMS */
#teams .team,
#roster .champion,
#extras .champion{
  display:block !important;
  page-break-inside: avoid !important;
}

#extras{
  display:block !important;
  page-break-before: always !important;
}

#roster .champion .container,
#extras .champion .container{
  padding: 0px 10px 20px 10px !important;
}

/* CLEAN UP ROSTER AND TEAMS PRINTING */

.champion .title{
  border-radius:0 !important;
  background:none !important;
}
.champion .name{
  text-shadow:-1px 1px #000, -1px -1px #000, 1px -1px #000, 1px 1px #000 !important;
  color:#fff !important;
}

#teams .synergies{
  background:none !important;
}
#teams .synergy span{
  color:#000 !important;
}

/* CLEAN UP GUIDE CONTENT FOR PRINTING */
#guide-content div.ui-collapsible{
  display:block !important;
  page-break-inside: avoid !important;
}

#guide-content .ui-collapsible-content-collapsed{
  display:block !important;
}

#guide-content div,
#guide-content h2,
#guide-content h4,
#guide-content a{
  border:none !important;
  background:none !important;
  border-radius:0 !important;
}
#guide-content h2,
#guide-content h4{
  border-bottom:solid 2px #ccc !important;
}
#guide-content h2 a,
#guide-content h4 a,
#guide-content .bold{
  font-weight: normal !important;
}

#guide-content .ui-icon-minus,
#guide-content .ui-icon-plus{
  padding-left:0 !important;
}
#guide-content .ui-icon-minus:after,
#guide-content .ui-icon-plus:after{
  display:none !important;
}

#guide-content .background{
  display:none !important;
}