@import "../../util/fonts";
@import "../../util/input";

.language-edit {
    padding: 32px 0;

    .field-group {
        position: relative;
        width: 500px;
        max-width: 90%;
        margin: 0 auto 1em;
        background: #eee;
        padding: 0 0 16px;
        box-sizing: border-box;
        box-shadow: 0 8px 0 -4px rgba(0, 0, 0, .25);
        @include font-text(1em);
        text-align: center;

        .field-group-title {
            @include styled-button(false);
            text-transform: uppercase;
            text-align: left;
            padding: 16px;
            z-index: 1;
        }

        .field-group-set {
            padding-top: 16px;
            box-sizing: border-box;
        }
    }

    .field {
        padding: 0 16px;
        box-sizing: border-box;

        label {
            display: block;
            @include font-text(1em);
            text-align: left;
            line-height: 1.2em;
        }

        input {
            width: 100%;
            @include font-text(1em);
            padding: 8px;
            box-sizing: border-box;
        }
    }

    .icon {
        position: relative;
        display: inline-block;
        margin: 0 .5em 0 0;

        & img {
            position: relative;
            width: 1.2em;
            margin-bottom: -.2em;
            z-index: 1000;
        }
    }

    .language-export {
        @include styled-button(true, #3c3);
        width: 500px;
        max-width: 90%;
        padding: 16px;
        margin: 0 auto 1em;
        box-shadow: 0 6px 0 -2px  rgba(0, 0, 0, .25);

        &:active {
            top: 6px;
            box-shadow: 0 0 0 rgba(0, 0, 0, .25);
        }
    }
}
