@import "../../util/colors";
@import "../../util/button";

.roster-edit {
    padding: 24px;

    .champion-field {
        @extend .button--primary;

        position: relative;
        padding: 0;
        width: 500px;
        max-width: 90%;
        margin: 0 auto 1em;
        box-shadow: 0 8px 0 -4px  rgba(0, 0, 0, .25);

        .champion-field-role {
            position: absolute;
            left: -24px;

            .image-icon {
                height: 48px;
                width: 48px;
            }

            .icon {
                color: #600;
                margin-left: 8px;
                margin-top: 8px;
                font-size: 2.5vmin;
            }
        }

        .champion-field-label {
            position: absolute;
            left: 0;
            width: 50%;
            padding: 16px;
            box-sizing: border-box;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
            z-index: 1;
        }

        .champion-field-input,
        .champion-field-select {
            position: relative;
            width: 100%;
            padding-left: 50%;
            box-sizing: border-box;
        }

        .champion-field-select {
            .icon {
                position: absolute;
                top: 16px;
                right: 16px;
                pointer-events: none;
                transition: color .25s, text-shadow .25s;
            }

            &:hover {

                .icon {
                    color: #000;
                    text-shadow: 0 1px 0 #fff;
                }
            }

            &.disabled {

                .icon {
                    color: #ccc;
                    text-shadow: 0 1px 0 #fff;
                }
            }
        }

        .champion-field-select select,
        .champion-field-input input {
            @extend .button--primary;
            @extend .button--enabled;
            width: 100%;
            text-align: left;
            padding: 16px;
            box-shadow: none;
            box-sizing: border-box;
            margin: 0;
            -webkit-appearance: none;
        }

        &.champion-field--neighbor {
            margin-bottom: 2px;
        }

        @media print {
            page-break-inside: avoid;
        }
    }

    .champion-button-delete {
        @extend .button--error;
        @extend .button--enabled;

        width: 500px;
        max-width: 90%;
        text-align: center;
        padding: 16px;
        margin: 0 auto 1em;
        box-shadow: 0 6px 0 -2px  rgba(0, 0, 0, .25);

        &:active {
            top: 6px;
            box-shadow: 0 0 0 rgba(0, 0, 0, .25);
        }

        &.disabled {
            top: 6px;
            box-shadow: 0 0 0 rgba(0, 0, 0, .25);
        }

        @media print {
            page-break-inside: avoid;
        }
    }

    .clear {
        height: 32px;
    }
}
