.synergy {
    background: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;

    canvas {
        width: 100%;
        height: 100%;

        &.hover {
            cursor: pointer;

            & {
                cursor: grab;
            }
        }

        &.dragging {
            cursor: move;

            & {
                cursor: grabbing;
            }
        }

        &.selecting {
            cursor: crosshair;

            & {
                cursor: cell;
            }
        }
    }

    .legend {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 100%;
        overflow-y: auto;
        box-sizing: border-box;
        background: rgba(0, 0, 0, .5);
        color: #fff;
        text-shadow: 0 1px 0 #000;
        padding: 5px;
        font-family: Hanzel, Verdana, Geneva, sans-serif;
        font-size: 1em;
        line-height: 1.2em;
        opacity: 1;
        transition: opacity .25s, left .25s, top .25s;

        &.legend--hidden {
            pointer-events: none;
            top: -50px;
            left: -50px;
            opacity: .001;
        }

        .legend-effect {
            position: relative;
            cursor: pointer;
            border-left: solid 1em;
            padding: 0 .4em;
            opacity: .5;
            transition: opacity .25s;

            &.legend-effect--selected {
                opacity: 1;
                //chrome is being a dick and ignoring opacity change if it's on its own.
                padding-left: .4em;
            }
        }

        .legend-effect--attack {
            border-color: #f00;
        }

        .legend-effect--stun {
            border-color: #f60;
        }

        .legend-effect--mutantagenda {
            border-color: #ff0;
        }

        .legend-effect--inseparable {
            border-color: #a00;
        }

        .legend-effect--critrate {
            border-color: #fa0;
        }

        .legend-effect--critdamage {
            border-color: #a60;
        }

        .legend-effect--powergain {
            border-color: #a0f;
        }

        .legend-effect--powersteal {
            border-color: #a6f;
        }

        .legend-effect--perfectblock {
            border-color: #00a;
        }

        .legend-effect--block {
            border-color: #66f;
        }

        .legend-effect--armor {
            border-color: #0af;
        }

        .legend-effect--health {
            border-color: #0f0;
        }

        .legend-effect--healthsteal {
            border-color: #af0;
        }

        .legend-effect--heroesforhire {
            border-color: #0a6;
        }

        .legend-effect--thunderbolts {
            border-color: #a6a;
        }
    }
}
