@import "../../util/fonts";
@import "../../util/colors";

.teams {
    min-height: 100%;
    padding: 24px;
    background: rgba(255, 255, 255, 0);
    box-sizing: border-box;

    .header {
        @extend .font--title;
        width: 500px;
        max-width: 90%;
        padding: 20px 16px 16px;
        font-size: 1.3em;
        font-weight: normal;
        text-shadow: 0 1px 0 #ccc;
        text-align: left;
    }

    .clear {
        height: 32px;
    }
}
