@import "../../util/input";

.teams-settings {
    padding: 0 24px 24px;

    .header {
        width: 500px;
        max-width: 90%;
        margin: 0 auto;
        padding: 16px;
        font-size: 1.3em;
        font-weight: normal;
        font-family: Hanzel, Verdana, Geneva, sans-serif;
        text-shadow: 0 1px 0 #ccc;
        text-align: left;
    }

    .field {
        position: relative;
        width: 500px;
        max-width: 90%;
        margin: 0 auto 1em;
        box-shadow: 0 8px 0 -4px  rgba(0, 0, 0, .25);

        .field-name {
            @include styled-button(false);
            display: block;
            padding: 8px 16px;
            font-family: Hanzel, Verdana, Geneva, sans-serif;
            font-size: 1em;
            text-align: left;
            text-transform: uppercase;
            text-shadow: 0 1px 0 #ccc;
            box-sizing: border-box;

        }

        .field-input {
            @include styled-button(false);
            background: #eee;
            padding: 8px 16px;
            position: relative;
            box-sizing: border-box;

            &.field-input-small {
                padding-right: 64px;
            }

            &.field-input-large {
                padding-right: 96px;
            }

            .field-value {
                position: absolute;
                right: 0;
                top: 0;
                padding: 8px 16px 8px 0;
                color: #000;
                font-family: Hanzel, Verdana, Geneva, sans-serif;
                font-size: 1em;
                text-shadow: 0 1px 0 #fff;
            }

            .field-slider {
                //$track-width, $track-height, $track-background, $track-box-shadow, $track-border-radius,
                //$thumb-size, $thumb-background, $thumb-box-shadow, $thumb-border, $thumb-border-radius
                @include input-range(
                    100%, 8px, #333, 0 1px 0 #fff, 1px,
                    24px, -8px, #38c, 0 4px 0 -2px  rgba(0, 0, 0, .25), none, 0
                );

                width: 100%;
            }
        }
    }

    .clear {
        height: 32px;
    }
}

