.roster {
    padding: 24px;

    .champion {
        transition: opacity .25s;
    }

    &.roster--editing {

        .champion {
            opacity: .25;
        }

        .champion--selected {
            opacity: 1;
        }
    }

    .clear {
        height: 32px;
    }
}
