<!doctype html>
<html>

  <head>
    <title>Contest of Champions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#5393c5 ">
    <link rel="icon" sizes="192x192" href="images/icon.png">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.css">
    <link rel="stylesheet" href="css/theme-classic.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="http://jquery-csv.googlecode.com/git/src/jquery.csv.js"></script>
    <script src="scripts/underscore-min.js"></script>
    <script src="scripts/backbone-min.js"></script>
    <script src="scripts/backbone.localStorage-min.js"></script>
  </head>
  <body>
  
    <div class="page" id="page-roster" 
      data-title="Champions"
      data-theme="c"
      data-role="page">
    
      <div id="header" data-role="header" data-theme="b" data-position="fixed" data-tap-toggle="false">
        <a id="button-roster-options" href="#panel-roster-options" class="ui-btn-left"
          data-role="button" 
          data-icon="bars" 
          data-iconpos="notext"
          data-rel="panel"
          data-transition="slide">Options</a>
        <h1>Roster</h1>
      </div>
      
      <div id="onboarding-roster" class="onboarding left">
        <h3>Use the options menu to add new champions</h3>
      </div>
      
      <div role="main" class="ui-content">
        <div id="roster"></div>
        <br>
      </div>
      
      <div class="panel" id="panel-roster-options" 
        data-role="panel"
        data-position="left" 
        data-display="overlay"
        data-theme="b">
        
        <div id="roster-import-input-container">
          <input id="roster-import-input" type="file" accept=".csv">
        </div>
        
        <fieldset data-role="controlgroup" data-mini="true">
          <h2>Modify</h2>
          <a href="#page-add"
            data-role="button" 
            data-icon="search" 
            data-rel="page"
            data-direction="reverse"
            data-transition="flip">Add</a> 
          <a id="roster-import" href="#"
            data-role="button" 
            data-icon="tag">Import .csv</a>  
          <a id="roster-export" href="#"
            data-role="button" 
            data-icon="action">Export .csv</a>
          <a id="roster-clear-all" href="#"
            data-role="button" 
            data-icon="delete">Delete All</a> 
        </fieldset>
        
        <fieldset data-role="controlgroup" data-mini="true">
          <h2>Sort By</h2>
          <input type="radio" name="roster-sort" id="roster-sort-stars">
          <label for="roster-sort-stars" checked="true">Stars</label>
          <input type="radio" name="roster-sort" id="roster-sort-type">
          <label for="roster-sort-type">Type</label>
          <input type="radio" name="roster-sort" id="roster-sort-name">
          <label for="roster-sort-name">Name</label>
        </fieldset>
        
        <fieldset data-role="controlgroup" data-mini="true">
          <h2>Filter</h2>
          <input type="checkbox" name="roster-filter-stars-4" id="roster-filter-stars-4">
          <label for="roster-filter-stars-4">★ ★ ★ ★</label>
          <input type="checkbox" name="roster-filter-stars-3" id="roster-filter-stars-3">
          <label for="roster-filter-stars-3">★ ★ ★</label>
          <input type="checkbox" name="roster-filter-stars-2" id="roster-filter-stars-2">
          <label for="roster-filter-stars-2">★ ★</label>
          <input type="checkbox" name="roster-filter-stars-1" id="roster-filter-stars-1">
          <label for="roster-filter-stars-1">★</label>
        </fieldset> 
       
      </div>
      
      <div id="footer" data-id="myfooter" data-role="footer" data-position="fixed" data-theme="c" data-tap-toggle="false">
        <div data-role="navbar" data-iconpos="bottom">
          <ul>
            <li><a href="#page-roster" data-icon="grid" class="ui-btn-active ui-state-persist">Roster</a></li>
            <li><a href="#page-teams" data-icon="search" data-transition="fade">Team</a></li>
          </ul>
        </div>
      </div>

      <div id="popup-roster-configure" 
        data-role="popup" 
        data-tolerance="32"
        data-theme="c" 
        data-overlay-theme="a" 
        data-arrow="true">
        <div id="roster-configure-stars" class="stars"></div>
        <div role="main" class="ui-content">
        
          <!-- this is some stupid shit -->
          <div tabindex="1"></div>
          <!-- but focus was being stolen otherwise -->
          
          <h3>
            <img id="roster-configure-type" /><span id="roster-configure-name">Name</span>
          </h3>
          
          <form>          
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
              <label for="roster-configure-rank">Rank</label>
              <select name="roster-configure-rank" id="roster-configure-rank"></select>
              <label for="roster-configure-level">Level</label>
              <select name="roster-configure-level" id="roster-configure-level"></select>
            </fieldset>
            <fieldset data-role="controlgroup" data-mini="true">
              <label for="roster-configure-awakened">Awakened</label>
              <input type="checkbox" name="roster-configure-awakened" id="roster-configure-awakened">              
              <label for="roster-configure-quest">Quest</label>
              <input type="checkbox" name="roster-configure-quest" id="roster-configure-quest">              
            </fieldset>
            <fieldset data-role="controlgroup" data-mini="true">
              <a href="#" id="roster-configure-delete" data-role="button" data-theme="b" data-icon="delete">Delete</a>          
            </fieldset>
          </form>
        </div>
        <div class="extras">
          <img id="roster-configure-image" />
          <div id="roster-configure-synergies" class="synergies" data-role="collapsibleset" data-mini="true">
            <div data-role="collapsible" class="synergies-to" data-mini="true">
              <h4>Synergies To</h4>
              <div id="roster-configure-synergies-to"></div>
            </div>
            <div data-role="collapsible" class="synergies-from" data-mini="true">
              <h4>Synergies From</h4>
              <div id="roster-configure-synergies-from" class="synergies-from"></div>
            </div>
          </div>
        </div>
      </div>
      
      <div id="popup-roster-delete-confirm" 
        data-role="popup" 
        data-tolerance="32"
        data-position-to="window"
        data-overlay-theme="a" 
        data-theme="a">
        <div role="main" class="ui-content">
          <h3>
            Are you sure you want to delete
            <div style="display:inline-block">
              <span id="roster-delete-confirm-stars"></span>
              <span id="roster-delete-confirm-name"></span>
            </div>?
          </h3>
          <p>This action cannot be undone.</p>
          <a href="#" id="roster-delete-confirm-yes" data-role="button" data-theme="b">Delete</a>
          <a href="#" id="roster-delete-confirm-no" data-role="button">Cancel</a>
        </div>
      </div>
      
      <div id="popup-roster-clear-confirm" 
        data-role="popup" 
        data-tolerance="32"
        data-overlay-theme="a" 
        data-theme="a">
        <div role="main" class="ui-content">
          <h3>
            Are you sure you want to delete all of your champions?
          </h3>
          <p>This action cannot be undone.</p>
          <a href="#" id="roster-clear-confirm-yes" data-role="button" data-theme="b">Delete</a>
          <a href="#" id="roster-clear-confirm-no" data-role="button">Cancel</a>
        </div>
      </div>
      
    </div> 
    
    <div class="page" id="page-add" 
      data-title="Champions"
      data-theme="c"
      data-role="page">
    
      <div id="header" data-role="header" data-theme="b" data-position="fixed" data-tap-toggle="false">
        <h3>Add a Champion</h3>
        <a href="#page-roster" class="ui-btn-right"
          data-transition="flip" 
          data-role="button" 
          data-iconpos="notext"
          data-icon="back">Back</a>
        <div id="add-stars" data-role="navbar">
          <ul>
            <li><a id="add-stars-1" href="#" onclick="CoC.ui.add.setStars(1)" data-theme="c">★</a></li>
            <li><a id="add-stars-2" href="#" onclick="CoC.ui.add.setStars(2)" data-theme="c" class="ui-btn-active">★★</a></li>
            <li><a id="add-stars-3" href="#" onclick="CoC.ui.add.setStars(3)" data-theme="c">★★★</a></li>
            <li><a id="add-stars-4" href="#" onclick="CoC.ui.add.setStars(4)" data-theme="c">★★★★</a></li>
          </ul>
        </div>
      </div>
      
      <div role="main" class="ui-content">
        <div id="add-champions"></div>
        <br>
      </div>
      
    </div>
    
    <div class="page ui-responsive-panel" id="page-teams"
      data-title="Champions"
      data-theme="c"
      data-role="page">
    
      <div class="panel" id="panel-team-settings" 
        data-role="panel"
        data-position="right" 
        data-display="overlay"
        data-theme="a">
        
        <a href="#page-settings-advanced"
          data-role="button" 
          data-rel="panel" 
          data-icon="carat-r"
          data-iconpos="right"
          data-transition="flip">Advanced...</a>
          
        <label>Size</label>
      
        <fieldset id="build-settings-size" data-role="controlgroup" data-type="horizontal" data-mini="true">
          <input type="radio" name="build-settings-size" id="build-settings-size-3" value="3">
          <label for="build-settings-size-3">3</label>
          <input type="radio" name="build-settings-size" id="build-settings-size-4" value="4">
          <label for="build-settings-size-4">4</label>
          <input type="radio" name="build-settings-size" id="build-settings-size-5" value="5">
          <label for="build-settings-size-5">5</label>
        </fieldset>
        
        <label>Champions</label>
        
        <fieldset id="build-filter-stars" data-role="controlgroup" data-type="horizontal" data-mini="true">
          <input type="checkbox" name="build-filter-stars-4" id="build-filter-stars-4">
          <label for="build-filter-stars-4">4 ★</label>
          <input type="checkbox" name="build-filter-stars-3" id="build-filter-stars-3">
          <label for="build-filter-stars-3">3 ★</label>
          <input type="checkbox" name="build-filter-stars-2" id="build-filter-stars-2">
          <label for="build-filter-stars-2">2 ★</label>
          <input type="checkbox" name="build-filter-stars-1" id="build-filter-stars-1">
          <label for="build-filter-stars-1">1 ★</label>
        </fieldset> 

        <label>Algorithm</label>
        
        <select name="build-settings-algorithm" id="build-settings-algorithm" data-mini="true"></select>
        <small id="build-settings-algorithm-description"></small>
        
        <fieldset data-role="controlgroup">
        
          <input type="checkbox" name="build-settings-quest" id="build-settings-quest" data-mini="true">
          <label for="build-settings-quest">Quest Group</label>
          
          <input type="checkbox" name="build-settings-extras" id="build-settings-extras" data-mini="true">
          <label for="build-settings-extras">Show Extras</label>
          
        </fieldset>

        <a href="#" id="button-build-settings-apply"
          data-theme="b" 
          data-role="button"
          data-icon="gear"
          data-iconpos="left">
          Build
        </a>
        
      </div>
    
    
      <div id="header" data-role="header" data-theme="b" data-position="fixed" data-tap-toggle="false">
        <a id="button-team-build" href="#panel-team-settings" class="ui-btn-right"
          data-role="button" 
          data-rel="panel"
          data-iconpos="notext"
          data-icon="gear">Build</a>
        <h1>Team</h1>
        
        <div id="team-build-progress">
          <input id="team-build-progress" type="range" data-theme="c" data-highlight="true" min="0" max="1000" value="0">
        </div>
      </div>
      
      <div id="onboarding-progress" class="onboarding">
        <p class="text"></p>
      </div>
      
      <div id="onboarding-teams" class="onboarding right">
        <h3>Use the Build menu create your teams!</h3>
      </div>
      
      <div role="main" class="ui-content">
        <div id="teams"></div>
        <br>
      </div>
      
      <div id="footer" data-role="footer" data-theme="c" data-id="myfooter" data-position="fixed" data-tap-toggle="false">
        <div data-role="navbar" data-iconpos="bottom">
          <ul>
            <li><a href="#page-roster" data-icon="grid" data-transition="fade">Roster</a></li>
            <li><a href="#page-teams" data-icon="search" class="ui-btn-active ui-state-persist">Team</a></li>           
          </ul>
        </div>
      </div>
      
    </div>
    
    
    <div class="page" id="page-settings-advanced"
      data-title="Champions"
      data-theme="a"
      data-role="page">
        
      <div id="header" data-role="header" data-theme="b" data-position="fixed" data-tap-toggle="false">
        <a href="#page-teams" class="ui-btn-left"
          data-role="button" 
          data-transition="flip"
          data-direction="reverse"
          data-iconpos="notext"
          data-icon="back">Back</a>
          
        <h1>Advanced Settings</h1>
      </div>
      <div role="main" class="ui-content">
        
        <a href="#" id="settings-advanced-preset-defaults" data-role="button">Reset to Defaults</a> 
        
        <h3>Syngergy Weights</h3>
        
        <select name="settings-advanced-preset-synergies" id="settings-advanced-preset-synergies">
          <option value="">Choose a preset...</option>
        </select>
      
        <div data-role="fieldcontain">
          <label for="settings-advanced-attack">Attack</label>
          <input type="range" name="settings-advanced-attack" id="settings-advanced-attack" 
            value="100" min="0" max="1000" 
            data-highlight="true"/>
        </div>
        
        <div data-role="fieldcontain">
          <label for="settings-advanced-stun">Stun Chance</label>
          <input type="range" name="settings-advanced-stun" id="settings-advanced-stun"
            value="100" min="0" max="1000" 
            data-highlight="true"/>
        </div>
      
        <div data-role="fieldcontain">
          <label for="settings-advanced-critrate">Crit Rate</label>
          <input type="range" name="settings-advanced-critrate" id="settings-advanced-critrate"
            value="100" min="0" max="1000" 
            data-highlight="true"/>
        </div>
      
        <div data-role="fieldcontain">
          <label for="settings-advanced-critdamage">Crit Damage</label>
          <input type="range" name="settings-advanced-critdamage" id="settings-advanced-critdamage" 
            value="100" min="0" max="1000" 
            data-highlight="true"/>
        </div>
      
        <div data-role="fieldcontain">
          <label for="settings-advanced-powergain">Power Gain</label>
          <input type="range" name="settings-advanced-powergain" id="settings-advanced-powergain" 
            value="100" min="0" max="1000" 
            data-highlight="true"/>
        </div>
      
        <div data-role="fieldcontain">
          <label for="settings-advanced-perfectblock">Perfect Block</label>
          <input type="range" name="settings-advanced-perfectblock" id="settings-advanced-perfectblock" 
            value="100" min="0" max="1000" 
            data-highlight="true"/>
        </div>
      
        <div data-role="fieldcontain">
          <label for="settings-advanced-block">Block Proficiency</label>
          <input type="range" name="settings-advanced-block" id="settings-advanced-block" 
            value="100" min="0" max="1000" 
            data-highlight="true"/>
        </div>
      
        <div data-role="fieldcontain">
          <label for="settings-advanced-armor">Armor</label>
          <input type="range" name="settings-advanced-armor" id="settings-advanced-armor" 
            value="100" min="0" max="1000" 
            data-highlight="true"/>
        </div>
      
        <div data-role="fieldcontain">
          <label for="settings-advanced-health">Health</label>
          <input type="range" name="settings-advanced-health" id="settings-advanced-health" 
            value="100" min="0" max="1000"  
            data-highlight="true"/>
        </div>
        
        <h3>Duplicate Class Weights</h3>
        
        <select name="settings-advanced-preset-duplicates" id="settings-advanced-preset-duplicates">
          <option value="">Choose a preset...</option>
        </select>
        
        <div data-role="fieldcontain">
          <label for="settings-advanced-class2">Double (2X)</label>
          <input type="range" name="settings-advanced-class2" id="settings-advanced-class2" 
            value="100" min="0" max="100" 
            data-highlight="true"/>
        </div>
        
        <div data-role="fieldcontain">
          <label for="settings-advanced-class3">Triple (3x)</label>
          <input type="range" name="settings-advanced-class3" id="settings-advanced-class3" 
            value="100" min="0" max="100" 
            data-highlight="true"/>
        </div>
        
        <div data-role="fieldcontain">
          <label for="settings-advanced-class4">Quadruple (4x)</label>
          <input type="range" name="settings-advanced-class4" id="settings-advanced-class4" 
            value="100" min="0" max="100" 
            data-highlight="true"/>
        </div>
        
        <div data-role="fieldcontain">
          <label for="settings-advanced-class5">Quintuple (5x)</label>
          <input type="range" name="settings-advanced-class5" id="settings-advanced-class5" 
            value="100" min="0" max="100" 
            data-highlight="true"/>
        </div>
        
        <h3>Champion Weights</h3>
      
        <div data-role="fieldcontain">
          <label for="settings-advanced-star4">★★★★</label>
          <input type="range" name="settings-advanced-star4" id="settings-advanced-star4" 
            value="100" min="0" max="1000" 
            data-highlight="true"/>
        </div>
        
        <div data-role="fieldcontain">
          <label for="settings-advanced-star3">★★★</label>
          <input type="range" name="settings-advanced-star3" id="settings-advanced-star3" 
            value="100" min="0" max="1000" 
            data-highlight="true"/>
        </div>
        
        <div data-role="fieldcontain">
          <label for="settings-advanced-star2">★★</label>
          <input type="range" name="settings-advanced-star2" id="settings-advanced-star2" 
            value="100" min="0" max="1000" 
            data-highlight="true"/>
        </div>
        
        <div data-role="fieldcontain">
          <label for="settings-advanced-star1">★</label>
          <input type="range" name="settings-advanced-star1" id="settings-advanced-star1" 
            value="100" min="0" max="1000" 
            data-highlight="true"/>
        </div>
        
        <div data-role="fieldcontain">
          <label for="settings-advanced-awakened">Awakened</label>
          <input type="range" name="settings-advanced-awakened" id="settings-advanced-awakened" 
            value="100" min="0" max="1000" 
            data-highlight="true"/>
        </div>
      
      </div>
      
    </div>

    <script id="sliderTemplate" type="text/template">
    
      <div data-role="fieldcontain">
        <label for="<%= id %>"><%- name %></label>
        <input type="range" name="<%= id %>" id="<%= id %>" value="100" min="0" max="1000" data-highlight="true"/>
      </div>
    
    </script>

    <script id="championTemplate" type="text/template">
    
      <div class="container">
        <div class="portrait" style="background-image:url(<%= portrait %>)">
          <% if( quest ){ %>
            <div class="quest"></div>
          <% } %>
          <div class="title">
            <span class="name"><%- name %></span>
          </div>
          <div class="stars">
            <% for( var i=0; i<stars; i++){ %><img class='star' src="<%= (awakened === 0)? "images/icons/star.png" : "images/icons/star-awakened.png" %>"><% } %>
          </div>
        </div>
      </div>
    
    </script>

    <script id="teamsTemplate" type="text/template">
    
      <div class="message"><%- message %></div>
      
      <% _(teams).each(function(team){ %>
        <div class="team <%= (size==3)? "three": (size==4)? "four": (size==5)? "five": "unknown" %>">
          <div class="heroes">
            <% _(team.champions).each(function(champion){ %>
              <%= renderChampion(champion) %>
            <% }) %>
          </div>
          <br style="clear:both">
          <div class="synergies">
            <% _(team.effects).each(function(effect){ %>
              <div class="synergy">
                <img src="<%= effect.get("image") %>">
                <span><%- effect.get("name") %> +<%- effect.get("amount") %> %</span>
              </div>
            <% }) %>
          </div>
        </div>
      <% }); %>
      <% if(extras){ %>
      
        <h3 style="clear:both">Extras</h3>
        <div id="extras">
          <% _(extras).each(function(champion){ %>
            <%= renderChampion(champion) %>
          <% }) %>
        </div>
      
      <% } %>
    
    </script>

    <script src="scripts/base.js"></script>
    <script src="scripts/models.js"></script>
    <script src="scripts/data.js"></script>
    <script src="scripts/presets.js"></script>
    <script src="scripts/algorithm.js"></script>
    <script src="scripts/views.js"></script>
    <script src="scripts/interface.js"></script>
    <script src="scripts/onboarding.js"></script>
    <script>
      CoC.initialize();
    </script>
  </body>
</html>