
.colors--primary {
    background: #38c;
}
.colors--success {
    background: #3c3;
}
.colors--error {
    background: #c33;
}
.colors--primary-text,
.colors--success-text,
.colors--error-text {
    color: #fff;
    text-shadow: 0 1px 0 #000;
}
.colors--primary-text-alt,
.colors--success-text-alt,
.colors--error-text-alt {
    color: #eee;
    text-shadow: 0 1px 0 #000;
}

.colors--body {
    color: #eee;
}
.colors--body-text {
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
.colors--body-text-alt {
    color: #555;
    text-shadow: 0 1px 0 #fff;
}

.colors--message {
    color: rgba(0, 0, 0, 0.5);
}
.colors--message-text {
    color: #fff;
    text-shadow: 0 1px 0 #000;
}
.colors--message-text {
    color: #ccc;
    text-shadow: 0 1px 0 #000;
}

$color-shadow: rgba(0, 0, 0, 0.25);

$color-gold: #fc6;

$color-cosmic: #3af;
$color-tech: #23f;
$color-mutant: #fa0;
$color-skill: #f30;
$color-science: #0a0;
$color-mystic: #90f;

$color-rating-5: #3f3;
$color-rating-4: #9f3;
$color-rating-3: #ff3;
$color-rating-2: #f93;
$color-rating-1: #f33;
