
$color-primary: #38c;
$color-primary-text: #fff;
$color-primary-text-shadow: #000;

$color-good: #3c3;
$color-good-text: #fff;
$color-good-text-shadow: #000;

$color-bad: #c33;
$color-bad-text: #fff;
$color-bad-text-shadow: #000;

$color-body: #eee;
$color-body-text: #000;
$color-body-text-shadow: #fff;

$color-shadow: rgba(0, 0, 0, 0.25);
