.custom-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "custom-icons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.custom-icon-app-icon:before {
    content: "\e900";
}
.custom-icon-effect-armor:before {
    content: "\e901";
}
.custom-icon-effect-armor-break:before {
    content: "\e902";
}
.custom-icon-effect-attack:before {
    content: "\e903";
}
.custom-icon-effect-bleed:before {
    content: "\e904";
}
.custom-icon-effect-block:before {
    content: "\e905";
}
.custom-icon-effect-critical-damage:before {
    content: "\e906";
}
.custom-icon-effect-critical-rate:before {
    content: "\e907";
}
.custom-icon-effect-degeneration:before {
    content: "\e908";
}
.custom-icon-effect-exhaust:before {
    content: "\e909";
}
.custom-icon-effect-fatigue:before {
    content: "\e90a";
}
.custom-icon-effect-heal:before {
    content: "\e90b";
}
.custom-icon-effect-heal-block:before {
    content: "\e90c";
}
.custom-icon-effect-health:before {
    content: "\e90d";
}
.custom-icon-effect-health-steal:before {
    content: "\e90e";
}
.custom-icon-effect-heroes-for-hire:before {
    content: "\e90f";
}
.custom-icon-effect-idol:before {
    content: "\e910";
}
.custom-icon-effect-immunity-bleed:before {
    content: "\e911";
}
.custom-icon-effect-immunity-poison:before {
    content: "\e912";
}
.custom-icon-effect-incinerate:before {
    content: "\e913";
}
.custom-icon-effect-inseparable:before {
    content: "\e914";
}
.custom-icon-effect-mastermind:before {
    content: "\e915";
}
.custom-icon-effect-mutant-agenda:before {
    content: "\e916";
}
.custom-icon-effect-nullify:before {
    content: "\e917";
}
.custom-icon-effect-perfect-block:before {
    content: "\e918";
}
.custom-icon-effect-poison:before {
    content: "\e919";
}
.custom-icon-effect-power:before {
    content: "\e91a";
}
.custom-icon-effect-power-lock:before {
    content: "\e91b";
}
.custom-icon-effect-regeneration:before {
    content: "\e91c";
}
.custom-icon-effect-resist-energy:before {
    content: "\e91d";
}
.custom-icon-effect-resist-physical:before {
    content: "\e91e";
}
.custom-icon-effect-shock:before {
    content: "\e91f";
}
.custom-icon-effect-stun:before {
    content: "\e920";
}
.custom-icon-effect-thunderbolts:before {
    content: "\e921";
}
.custom-icon-effect-truestrike:before {
    content: "\e922";
}
.custom-icon-effect-unstoppable:before {
    content: "\e923";
}
.custom-icon-effect-weakness:before {
    content: "\e924";
}
.custom-icon-role-alliance-quest:before {
    content: "\e925";
}
.custom-icon-role-alliance-war:before {
    content: "\e926";
}
.custom-icon-role-arena:before {
    content: "\e927";
}
.custom-icon-role-quest:before {
    content: "\e928";
}
.custom-icon-type-cosmic:before {
    content: "\e929";
}
.custom-icon-type-mutant:before {
    content: "\e92a";
}
.custom-icon-type-mystic:before {
    content: "\e92b";
}
.custom-icon-type-science:before {
    content: "\e92c";
}
.custom-icon-type-skill:before {
    content: "\e92d";
}
.custom-icon-type-tech:before {
    content: "\e92e";
}
