@mixin font-title($font-size) {
    font-size: $font-size;
    font-weight: normal;
    font-family: Hanzel, Verdana, Geneva, sans-serif;
    line-height: $font-size;
}

@mixin font-text($font-size) {
    font-size: $font-size;
    font-weight: normal;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: $font-size;
}
