#guide-content .background {
  bottom: 0;
}

.select2-container{
  z-index: 9999999;
}

#editor-io-container{
  opacity:0;
  pointer-events:none;
  position:absolute;
  top:-10000px;
  left:-10000px;
}

#popup-editor{
  padding:0;
  border-width: 0;
  background: rgba(200,200,200, 0.5);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#popup-editor textarea{
  min-height: 150px;
  max-height: 500px;
}

#popup-editor .editor-author-profile .ui-select{
  margin-bottom: 0;
}
#popup-editor .editor-author-profile .ui-select .ui-btn{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#popup-editor .editor-author-profile .ui-input-text{
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#popup-editor .select2{
  width: 100% !important;
}
#popup-editor .select2-search{
  display: none;
}
#popup-editor .select2-selection{
  padding-right: 24px;
  cursor: default;
  cursor: context-menu;
}
#popup-editor .select2-container::after{
  content: '▼';
  position: absolute;
  padding: 10px 8px 0 2px;
  top: 0;
  right: 0;
  height: 100%;
  color: #aaa;
  box-sizing: border-box;
}
#popup-editor .select2-container--focus::after{
  color: #000;
}

#popup-editor .editor-champion-selector{
  padding: 0;
}
#popup-editor .editor-champion-selector .ui-select{
  margin: 0;
}
#popup-editor .editor-champion-selector .ui-corner-all{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#popup-editor .editor-tabs {
  padding: 0;
  border-radius: 0;
}
#popup-editor .editor-tabs .ui-tabs-panel{
  background: rgba(255,255,255,0.66);
}

#popup-editor .editor-tabs .ui-navbar,
#popup-editor .editor-import-export .ui-navbar {
  overflow: hidden;
  box-sizing: border-box;
}

#popup-editor .editor-tabs.ui-disabled .ui-tabs-panel{
  display: none !important;
}

#popup-editor-popup{
  box-sizing: border-box;
  position: fixed;
  width: 85%;
  max-width:1024px;
  min-width:500px;
  top: initial !important;
  bottom: 0 !important;
}

@media (max-width:500px){
  #popup-editor-popup{
    left:0 !important;
    width: 100% !important;
    min-width: inherit !important;
    max-width: inherit !important;
  }

  #popup-editor .editor-champion-selector .ui-corner-all{
    border-radius: 0;
  }
}
