html,
body,
.page{  
  border: none !important;
  padding:0 !important;
  background:none !important;
  overflow:visible !important;
  height:inherit !important;
  min-height:0 !important;
  text-shadow: none !important;
}

.message{
  background:none !important;
  padding:none !important;
  color:#111 !important;
  font-size:0.9em !important;
}

/* HIDE HEADERS FOOTERS ONBOARDING POPUPS PANELS AND GUIDE BACKGROUNDS */
#header,
#footer,
.onboarding,
.ui-popup-screen,
.ui-popup-container,
.panel{
  display:none !important;
}

/* DONT CUT PORTRAITS OR TEAMS */
#teams .team,
#roster .champion,
#extras .champion{
  display:block !important;
  page-break-inside: avoid !important;
}

#extras{
  display:block !important;
  page-break-before: always !important;
}

#roster .champion .container,
#extras .champion .container{
  padding: 0px 10px 20px 10px !important;
}

/* HIDE BUTTONS AND STUFF */


#add-champions .add-all,
#page-settings-advanced{
  display:none !important;
}

/* CLEAN UP ROSTER AND TEAMS PRINTING */

.champion .stars{
  bottom:10% !important;
}
.champion .title{
  left:-1%;
  bottom:-1px;
  width:102%;
  background:#fff;
  border-radius:0 !important;
  border-bottom-width:0 !important;
  border-top-style:solid !important;
  border-top-width:10px !important;
}
.champion .title span.name{
  color:#000 !important;
  text-shadow:none !important;
}

#teams .synergies{
  background:none !important;
}
#teams .synergy span{
  color:#000 !important;
}

/* CLEAN UP GUIDE CONTENT FOR PRINTING */
#crystals  div.ui-collapsible,
#guide-content div.ui-collapsible{
  display:block !important;
  page-break-inside: avoid !important;
}

#crystals .ui-collapsible-content-collapsed,
#guide-content .ui-collapsible-content-collapsed{
  display:block !important;
}

#crystals div,
#crystals h2,
#crystals h4,
#crystals a,
#guide-content div,
#guide-content h2,
#guide-content h4,
#guide-content h2 a,
#guide-content h4 a{
  border:none !important;
  background:none !important;
  border-radius:0 !important;
}
#crystals h3 a,
#crystals h4 a,
#guide-content h2 a,
#guide-content h4 a{
  padding-left:0 !important;
}
#crystals h3,
#guide-content h2{
  border-bottom:solid 2px #666 !important;
}
#crystals h4,
#guide-content h4{
  border-bottom:solid 1px #666 !important;
}
#crystals h3 a,
#crystals h4 a,
#crystals .bold,
#guide-content h2 a,
#guide-content h4 a,
#guide-content .bold{
  font-size:1.3em;
  font-weight: normal !important;
}

#crystals h3 .ui-btn-icon-left::before,
#crystals h3 .ui-btn-icon-left::after,
#crystals h4 .ui-btn-icon-left::before,
#crystals h4 .ui-btn-icon-left::after,
#guide-content h2 .ui-btn-icon-left::before,
#guide-content h2 .ui-btn-icon-left::after,
#guide-content h4 .ui-btn-icon-left::before,
#guide-content h4 .ui-btn-icon-left::after{
  display:none !important;
}

#guide-content .background{
  display:none !important;
}
