.app {
    position: relative;
    width: 100%;
    height: 100%;

    .pages {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        .page {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .001;
            overflow-y: auto;
            pointer-events: none;
            transition: opacity .25s;
            background: #ccc;
            z-index: 0;

            @media print {
                visibility: hidden;
            }

            &.page--current {
                opacity: 1;
                pointer-events: auto;
                z-index: 10;

                @media print {
                    visibility: visible;
                    width: 100%;
                    height: auto;
                    overflow: visible;
                }
            }
        }
    }

    .raw-html {
        display: none;
    }

    @media print {
        width: 100%;
        height: auto;
        overflow: visible;
    }
}
