.icon {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    &.icon--before {
        margin-right: .3em;
    }

    &.icon--after {
        margin-left: .3em;
    }
}
