@import "../util/fonts";
@import "../util/colors";

$menu-transition-time: .25s;

.menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 10;

    ul,
    li {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu-tabs {
        position: relative;
        width: 100%;
        height: 48px;
        box-sizing: border-box;

        > .menu-option--group {

            > .menu-option {
                height: 29px;
                font-size: 1.2em;
                line-height: 29px;
                background: rgba(0, 0, 0, 0);

                &.menu-option--selected {
                    &,
                    &:hover {
                        > .menu-option--label {
                            background: lighten(#38c, 15%);
                            color: #000;
                            text-shadow: 0 1px 0 #fff;
                        }
                    }
                }
            }
        }
    }

    .menu-button {
        cursor: pointer;
        position: absolute;
        background: #eee;
        color: #000;
        font-size: 1.5em;
        text-shadow: 0 1px 0 #fff;
        box-sizing: border-box;
        transition: color $menu-transition-time, box-shadow $menu-transition-time, text-shadow $menu-transition-time, background $menu-transition-time;

        &:hover {
            background: #ddd;
        }
    }

    .menu-button-main {
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        margin-left: -48px;
        padding: 8px 12px;
        box-shadow: -3px 3px 0 0 rgba(0, 0, 0, .25);

        .menu-button-bar {
            position: relative;
            background: #000;
            height: 3px;
            border-radius: 1px;
            margin-top: 5px;
            box-shadow: 0 1px 0 #fff;
            transition: background $menu-transition-time, box-shadow $menu-transition-time, transform $menu-transition-time;
        }
    }

    .menu-button-sub {
        bottom: 0;
        left: -100%;
        width: 48px;
        height: 48px;
        line-height: 48px;
        margin: 8px;
        text-align: center;
        border-radius: 100px;
        box-shadow: 2px 2px 0 1px rgba(0, 0, 0, .25);
    }

    .menu-options {
        position: absolute;
        overflow: hidden;
        top: 0;
        right: 0;
        width: 90%;
        max-width: 450px;
        max-height: 100%;
        overflow-y: auto;
        opacity: 1;
        background: #38c;
        transform: translateZ(0);
        transition: right $menu-transition-time;

        .menu-header,
        .menu-section {
            @extend .font--title;
            padding: .75em;
            font-size: 1.1em;
            line-height: 1.1em;
            color: #fff;
            text-shadow: 0 1px 0 #000;
            text-transform: uppercase;
        }

        .menu-section {
            line-height: 1.3em;
            padding: .5em .75em;
            background: darken(#38c, 5%);
        }

        .menu-header {
            background: lighten(#38c, 15%);
            color: #000;
            text-shadow: 0 1px 0 #000, 0 2px 0 #fff;
        }
    }

    .menu-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .0001;
        transition: opacity $menu-transition-time;
    }

    &.menu--open {

        .menu-button {
            &,
            &:hover {
                color: #fff;
                text-shadow: 0 1px 0 #000;
                background: rgba(255, 255, 255, 0);
                box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            }
        }

        .menu-button-main {
            &,
            &:hover {

                .menu-button-bar {
                    background: #fff;

                    &:nth-child(1) {
                        transform: translate(0, 8px) rotate(-45deg);
                        box-shadow: -1px 1px 0 #000;

                    }

                    &:nth-child(2) {
                        transform: rotate(-45deg);
                        box-shadow: 0 0 0 #000;
                        z-index: 1;
                    }

                    &:nth-child(3) {
                        transform: translate(0, -8px) rotate(45deg);
                        box-shadow: 1px 1px 0 #000;
                    }
                }
            }
        }

        .menu-button-sub {
            &,
            &:hover {
                background: #38c;
                box-shadow: 0 0 0 0 transparent;
            }
        }

        .menu-options {
            right: 100%;
        }

        .menu-background {
            left: -100%;
            opacity: .5;
        }
    }

    @media print {
        display: none;
    }
}
