@import "../../util/input";
@import "../../util/fonts";

.champion-section {
    position: relative;
    width: 500px;
    max-width: 90%;
    margin: 0 auto 1em;
    background: #eee;
    padding: 0 0 16px;
    box-sizing: border-box;
    box-shadow: 0 8px 0 -4px  rgba(0, 0, 0, .25);
    z-index: 1;

    .champion-section-title {
        @include styled-button(false);
        text-transform: uppercase;
        text-align: left;
        padding: 16px;
        z-index: 1;

        .champion-section-item,
        .champion-section-select,
        .champion-section-textarea {
            text-shadow: 0 0 0 #000;
            border: dashed 1px #fff;
        }
    }

    .champion-section-text {
        display: block;
        padding: 16px 16px 0;
        @include font-text(1em);
        text-shadow: 0 1px 0 #eee;
        white-space: pre-line;
    }

    .champion-section-editor {
        display: block;
        padding: 16px 16px 0;
    }

    .champion-section-item,
    .champion-section-select,
    .champion-section-textarea {
        background: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        border: dashed 1px #666;
    }

    .champion-section-items {
        padding: 16px 0 8px;
    }

    .champion-section-item {
        @include font-title(1em);
        padding: 8px;
        margin-right: 8px;
        cursor: pointer;
    }

    .champion-section-select {
        @include font-title(1em);

        &.champion-section-select-item {
            width: 36px;
        }
    }

    .champion-section-textarea {
        display: block;
        width: 100%;
        @include font-text(1em);
        padding: 16px;
        text-shadow: 0 1px 0 #eee;
        height: auto;
    }

    b {
        &.champion-section-textarea {
            font-weight: bold;
        }
    }

    .champion-section-raw {
        display: block;
        padding: 16px 16px 0;
    }

    @media print {
        page-break-inside: avoid;
    }
}
