@import "../../util/input";
@import "../../util/fonts";

.champion-section {
    position: relative;
    width: 500px;
    max-width: 90%;
    margin: 0 auto 1em;
    background: #eee;
    padding: 0 0 16px;
    box-sizing: border-box;
    box-shadow: 0 8px 0 -4px  rgba(0, 0, 0, .25);
    z-index: 1;

    .champion-section-title {
        @include styled-button(false);
        text-transform: uppercase;
        text-align: left;
        padding: 16px;
        z-index: 1;
    }

    .champion-section-text {
        display: block;
        padding: 16px 16px 0;
        @include font-text(1em);
        text-shadow: 0 1px 0 #eee;
    }

    .champion-section-raw {
        display: block;
        padding: 16px 16px 0;
    }

    @media print {
        page-break-inside: avoid;
    }
}
