@import "../../util/fonts";
@import "../../util/input";

.champion-upgrade {
    position: relative;
    @include styled-button(false);
    width: 500px;
    min-height: 52px;
    max-width: 90%;
    margin: 0 auto 1em;
    box-sizing: border-box;
    box-shadow: 0 8px 0 -4px  rgba(0, 0, 0, .25);
    background: #eee;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    pointer-events: none;

    &.champion-upgrade-rank-up {
        background: #38c;
        color: #fff;
        text-shadow: 0 1px 0 #000;
    }

    &.champion-upgrade-max {
        background: #3c3;
        color: #fff;
        text-shadow: 0 1px 0 #000;
    }

    .champion-upgrade-catalyst {
        display: inline-block;
        line-height: 52px;
        padding: 0 4px;
    }

    .icon {
        display: inline-block;
        position: relative;
        height: 16px;
        width: 32px;
        color: #333;

        img {
            position: absolute;
            top: -20px;
            left: -16px;

            height: 64px;
            width: 64px;
        }
    }

    @media print {
        page-break-inside: avoid;
    }
}
