@import "../../util/colors";
@import "../../util/button";

.champion-team-selector {
    position: relative;

    .team-remove {
        @extend .button--error;
        @extend .button--enabled;
        text-align: center;
    }

    .team-apply {
        @extend .button--success;
        @extend .button--enabled;
        text-align: center;
    }

    .team-remove,
    .team-apply {
        margin-top: -16px;
        padding: 16px;
        box-shadow: 0 6px 0 -2px  rgba(0, 0, 0, .25);

        &:active {
            top: 6px;
            box-shadow: 0 0 0 rgba(0, 0, 0, .25);
        }

        &.disabled {
            top: 6px;
            box-shadow: 0 0 0 rgba(0, 0, 0, .25);
        }

        @media print {
            page-break-inside: avoid;
        }
    }

    .team-synergies {

        .effect-amount {
            &.effect-amount--decreased {
                color: #900;
            }

            &.effect-amount--increased {
                color: #090;

                &::before {
                    content: "+ ";
                }
            }
        }

        .team-synergy {
            cursor: default;
        }
    }

    .team-move {
        position: absolute;
        left: 100%;
        top: -32px;

        .team-move-direction {
            position: relative;
            height: 32px;
            width: 32px;
            text-align: center;
            line-height: 32px;
            background: #eee;
            box-shadow: -2px 6px 0 -2px  rgba(0, 0, 0, .25);

            &.team-move-direction--disabled {
                color: #ccc;
            }

            &:active,
            &.team-move-direction--disabled {
                top: 6px;
                box-shadow: none;
            }
        }
    }

    &.champion-team-selector--locked {

        .champion-portrait {
            &.champion--editing {
                .inner {
                    border-bottom: 0;
                }
            }
        }
    }

    &.champion-team-selector--create {
        .team-synergies {
            border: dashed 1px #000;
        }

        .champion-portrait {
            &.champion--editing {
                .inner {
                    border-bottom: 0;
                }
            }
        }
    }
}
