@import "../../util/colors";
@import "../../util/fonts";

.champion-grade {
    @extend .font--text;
    display: block;
    padding: 16px 16px 0;
    font-size: 1em;

    .champion-grade--value-a,
    .champion-grade--value-b,
    .champion-grade--value-c,
    .champion-grade--value-d,
    .champion-grade--value-e,
    .champion-grade--value-f {
        @extend .font--title;
        text-shadow: 0 1px 0 #fff;
    }

    .champion-grade--value-a {
        color: darken($color-rating-5, 33%);
    }

    .champion-grade--value-b {
        color: darken($color-rating-4, 33%);
    }

    .champion-grade--value-c {
        color: darken($color-rating-3, 33%);
    }

    .champion-grade--value-d {
        color: darken($color-rating-2, 33%);
    }

    .champion-grade--value-e,
    .champion-grade--value-f {
        color: darken($color-rating-1, 33%);
    }
}
