@import "../../util/fonts";
@import "../../util/button";

.champion-team {
    clear: both;
    text-align: center;
    margin: 24px auto;
    box-sizing: border-box;
    box-shadow: 0 8px 0 -4px  rgba(0, 0, 0, .25);

    .champion-portrait {

        .container {
            padding: 0;
        }

        .title {
            box-shadow: none;
        }
    }

    .team-synergies {
        position: relative;
        clear: both;
        padding: 24px 16px;
        margin-bottom: 10px;
        background: #eee;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        text-align: left;

        .team-synergy {
            margin: .5em 0 0;
            cursor: pointer;
        }

        .effect-name,
        .effect-amount {
            @extend .font--text;
            font-size: 1em;
        }
    }

    &.champion-team--size-3 {
        max-width: 450px;

        .champion-portrait {
            width: 33.334%;
            padding-bottom: 33.334%;
        }
    }

    &.champion-team--size-4 {
        max-width: 600px;

        .champion-portrait {
            width: 25%;
            padding-bottom: 25%;
        }
    }

    &.champion-team--size-5 {
        max-width: 750px;

        .champion-portrait {
            width: 20%;
            padding-bottom: 20%;
        }
    }

    &.team--selected {
        .champion-portrait {
            .upgrade,
            .portrait {
                opacity: .1;
                transition: opacity .25s;
            }

            &.champion--neighbor {
                .upgrade,
                .portrait {
                    opacity: .666;
                }
            }

            &.champion--selected {
                .upgrade,
                .portrait {
                    opacity: 1;
                }
            }
        }

        .team-synergy {
            opacity: .5;
            transition: opacity .25s;

            &.team-synergy--selected {
                opacity: 1;
            }
        }
    }

    .team-pi {
        @extend .font--title;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 16px 8px 0;
        font-size: 1em;
        text-align: right;
        text-shadow: 0 1px 0 #fff;
        color: #bbb;

        .team-pi-number {
            @extend .font--text;
            font-size: 1em;
            font-weight: bold;
            color: #000;
        }
    }

    @media print {
        box-shadow: none;
        page-break-inside: avoid;
    }
}
