@import "../../util/fonts";
@import "../../util/ratings";

.champion-grade {
    display: block;
    padding: 16px 16px 0;
    @include font-text(1em);

    .champion-grade--value-a,
    .champion-grade--value-b,
    .champion-grade--value-c,
    .champion-grade--value-d,
    .champion-grade--value-e,
    .champion-grade--value-f {
        font-family: Hanzel, Verdana, Geneva, sans-serif;
        text-shadow: 0 1px 0 #fff;
    }

    .champion-grade--value-a {
        color: darken($rating-value-5-color, 33%);
    }

    .champion-grade--value-b {
        color: darken($rating-value-4-color, 33%);
    }

    .champion-grade--value-c {
        color: darken($rating-value-3-color, 33%);
    }

    .champion-grade--value-d {
        color: darken($rating-value-2-color, 33%);
    }

    .champion-grade--value-e,
    .champion-grade--value-f {
        color: darken($rating-value-1-color, 33%);
    }
}
