.champion {
    display: block;
    float:left;
    position: relative;
    height: 0;
    width: 16.66666%;
    padding-bottom: 16.66666%;

    &.champion--cosmic {
        color: #3af;
    }
    &.champion--tech {
        color: #23f;
    }
    &.champion--mutant {
        color: #fa0;
    }
    &.champion--skill {
        color: #f30;
    }
    &.champion--science {
        color: #0a0;
    }
    &.champion--mystic {
        color: #90f;
    }

    .container {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 10px;

        .inner {
            position: relative;
            width: 100%;
            height: 100%;

            &.clickable {
                cursor: pointer;
            }
        }
    }

    .portrait-image {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: 1;
        transition: opacity .35s;

        &.portrait-image--hidden {
            opacity: 0.001;
        }

        & > img,
        & > svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        min-height: 14px;
        background: rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        border-bottom: solid 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .name {
            display: block;
            box-sizing: border-box;
            text-align: center;
            width: 100%;
            padding: 0 3px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #f6f6f6;
            font-family: Hanzel, Verdana, Geneva, sans-serif;
            font-size: 1em;
            text-transform: uppercase;
            text-shadow: 0 1px 0 #000;

            @media (max-width: 355px) {
                font-size: 0.6em;
                line-height: 1.5em;
            }
            @media (max-width: 800px) and (min-width: 355px) {
                font-size: 0.8em;
                line-height: 1.5em;
            }
            @media (min-width: 800px) {
                font-size: 1em;
                line-height: 1.5em;
            }

        }

        @media (max-width: 355px) {
            border-bottom-width: 6px;
        }
        @media (max-width: 800px) and (min-width: 355px) {
            border-bottom-width: 8px;
        }
    }

    .stars {
        position: absolute;
        right: 0;
        display: block;
        width: 100%;
        text-align: center;
        vertical-align: text-bottom;
        pointer-events: none;

        .star {
            display: inline-block;
            position: relative;
            width: 19%;
            margin-right: 1%;
            padding: 0;

            &:last-child {
                margin-right: 0;
            }
        }

        @media (max-width: 355px) {
            bottom: -18%;
        }
        @media (max-width: 800px) and (min-width: 355px) {
            bottom: -16%;
        }
        @media (min-width: 800px) {
            bottom: -15%;
        }
    }

    @media (max-width: 500px) {
        width: 33.333333333333333%;
        padding-bottom: 33.33333333333333333%;
    }
    @media (min-width: 500px) and (max-width: 700px) {
        width: 25%;
        padding-bottom: 25%;
    }
    @media (min-width: 700px) and (max-width: 900px) {
        width: 20%;
        padding-bottom: 20%;
    }
    @media (min-width: 900px) and (max-width: 1100px) {
        width: 16.6666666%;
        padding-bottom: 16.6666666%;
    }
    @media (min-width: 1100px) and (max-width: 1300px) {
        width: 14.285714285714286%;
        padding-bottom: 14.285714285714286%;
    }
    @media (min-width: 1300px) and (max-width: 1500px) {
        width: 12.5%;
        padding-bottom: 12.5%;
    }
    @media (min-width: 1500px) and (max-width: 1700px) {
        width: 11.11111111111111%;
        padding-bottom: 11.11111111111111%;
    }
    @media (min-width: 1700px) {
        width: 10%;
        padding-bottom: 10%;
    }
}
