.team {
    clear: both;
    text-align: center;
    margin: 10px auto;

    .champion {
        .container {
            padding: 0;
        }

        .title {
            border-radius: 0;
        }

        &:first-child {
            .title {
                border-top-left-radius: 5px;
            }
        }

        &:last-child {
            .title {
                border-top-right-radius: 5px;
            }
        }
    }

    .team-synergies {
        clear: both;
        padding: 20px 10px 10px 10px;
        margin-bottom: 10px;
        background: rgba(0,0,0, 0.5);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #fff;
        text-shadow: 0 1px 0 #000;
        text-align: left;

        .icon {
            display: inline-block;
            margin-right: .25em;


            & img {
                position: relative;
                width: 1.5em;
                margin-bottom: -.3em;
                z-index: 100;
            }
        }

        .effect-name,
        .effect-amount {
            display: inline-block;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 1.0em;
        }

        .effect-amount::before {
            content: '- ';
        }
    }

    &.team--size-3 {
        max-width: 450px;

        .champion {
            width: 33.334%;
            padding-bottom: 33.334%;
        }
    }

    &.team--size-4 {
        max-width: 600px;

        .champion {
            width: 25%;
            padding-bottom: 25%;
        }
    }

    &.team--size-5 {
        max-width: 750px;

        .champion {
            width: 20%;
            padding-bottom: 20%;
        }
    }

    &.team--selected {
        .champion {
            .portrait {
                opacity: 0.25;
            }

            &.champion--neighbor {
                .portrait {
                    opacity: 0.75;
                }
            }

            &.champion--selected {
                .portrait {
                    opacity: 1;
                }
            }
        }
    }

    &.team--selected {
        .team-synergy {
            opacity: 0.5;

            &.team-synergy--selected {
                opacity: 1;
            }
        }
    }
}
