@import "../../util/input";

$guide-value-5-color: #0c0;
$guide-value-4-color: #6c0;
$guide-value-3-color: #990;
$guide-value-2-color: #c60;
$guide-value-1-color: #c00;

@mixin font-title($font-size) {
    font-size: $font-size;
    font-weight: normal;
    font-family: Hanzel, Verdana, Geneva, sans-serif;
    text-shadow: 0 1px 0 #eee;
}

@mixin font-text($font-size) {
    font-size: $font-size;
    font-weight: normal;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 #eee;
}

.guide {
    background: #fff;
    min-height: 100%;

    .guide-section {
        position: relative;
        width: 500px;
        max-width: 90%;
        margin: 0 auto 1em;
        background: #eee;
        padding: 0 0 16px;
        box-sizing: border-box;
        box-shadow: 0 8px 0 -4px  rgba(0, 0, 0, .25);
        z-index: 1;
    }

    .guide-section-title {
        @include styled-button(false);
        text-transform: uppercase;
        text-align: left;
        padding: 16px;
        z-index: 1;
    }

    .guide-text {
        display: block;
        padding: 16px 16px 0;
        @include font-text(1em);
    }

    .guide-grade {
        display: block;
        padding: 16px 16px 0;
        @include font-text(1em);

        .guide-grade--value-a,
        .guide-grade--value-b,
        .guide-grade--value-c,
        .guide-grade--value-d,
        .guide-grade--value-e,
        .guide-grade--value-f {
            font-family: Hanzel, Verdana, Geneva, sans-serif;
            text-shadow: 0 1px 0 #000;
        }
        .guide-grade--value-a {
            color: $guide-value-5-color;
        }

        .guide-grade--value-b {
            color: $guide-value-4-color;
        }

        .guide-grade--value-c {
            color: $guide-value-3-color;
        }

        .guide-grade--value-d {
            color: $guide-value-2-color;
        }

        .guide-grade--value-e,
        .guide-grade--value-f {
            color: $guide-value-1-color;
        }
    }

    .guide-rating {
        float: right;

        .guide-rating--value-5,
        .guide-rating--value-4,
        .guide-rating--value-3,
        .guide-rating--value-2,
        .guide-rating--value-1 {
            text-shadow: 0 1px 0 #000;
        }

        .guide-rating--value-5 {
            color: $guide-value-5-color;
        }

        .guide-rating--value-4 {
            color: $guide-value-4-color;
        }

        .guide-rating--value-3 {
            color: $guide-value-3-color;
        }

        .guide-rating--value-2 {
            color: $guide-value-2-color;
        }

        .guide-rating--value-1 {
            color: $guide-value-1-color;
        }
    }

    .guide-synergies {
        padding-bottom: 1px;
    }

    .guide-synergy {
        padding: 16px 16px 0;

        .champion-name {
            margin: 0 0 0 .5em;
            cursor: pointer;
            display: inline-block;
            @include font-title(1em);
            text-transform: uppercase;
        }

        .effect-name {
            display: inline-block;
            @include font-text(1em);
        }

        .icon {
            position: relative;
            display: inline-block;
            margin: 0;
            width: 20px;
            height: 20px;
            color: #666;

            & img {
                position: relative;
                width: 100%;
                height: 100%;
                margin-bottom: -.2em;
                z-index: 1000;
            }
        }
    }

    .clear {
        height: 32px;
    }
}
