.synergy{
	height: 100%;
	width: 100%;
	overflow: hidden;

	canvas{
		width: 100%;
		height: 100%;

		&.hover{
		  cursor:pointer;
		  cursor:grab;
		}
		&.dragging{
		  cursor:move;
		  cursor:grabbing;
		}
		&.selecting{
		  cursor:crosshair;
		  cursor:cell;
		}
	}
}
