.roster {
    padding: 24px;

    .champion {
        transition: opacity 0.25s;
    }

    .clear {
        clear: both;
    }

    &.roster--editing {
        .champion {
            opacity: 0.25;
        }
        .champion--editing {
            opacity: 1;
        }
    }
}
