.roster {
    padding: 24px;

    &.editing {
        .champion {
            opacity: 0.25;
        }
        .champion.editing {
            opacity: 1;
        }
    }

    .champion {
        transition: opacity 0.25s;
    }

    .clear {
        clear: both;
    }
}
