.tabs {
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.25);

    .tabs-tab {
        height:54px;
        font-size: 1.0em;
        line-height: 18px;
        padding: .25em 0;
        border: 0;
        background: #f6f6f6;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        text-transform: uppercase;
        font-family: Hanzel, Verdana, Geneva, sans-serif;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.25s, color 0.25s, text-shadow 0.25s;

        .icon {
            margin-bottom: 4px;
        }

        .tabs-tab-title {
            padding: 0 .25em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .tabs:hover {
        background: #eee;
    }

    .tabs-tab--current,
    .tabs-tab--current:hover {
        background: #38c;
        color: #fff;
        text-shadow: 0 1px 0 #000;
    }

    &.tabs--count-1 {
        .tabs-tab {
            width: 100%;
        }
    }

    &.tabs--count-2 {
        .tabs-tab {
            width: 50%;
        }
    }

    &.tabs--count-3 {
        .tabs-tab {
            width: 33.334%;
        }
    }

    &.tabs--count-4 {
        .tabs-tab {
            width: 25%;
        }
    }

    &.tabs--count-5 {
        .tabs-tab {
            width: 20%;
        }
    }
}
