<div class="page" id="page-guide"
  data-title="<%= string('champions') %> - <%= string('guide') %>"
  data-theme="c"
  data-role="page">
  <div class="popup" id="popup-editor" 
    data-transition="slideup"
    data-position-to="window"
    data-role="popup"
    data-theme="b">

    <div class="editor-champion-selector">
      <select id="editor-champion" name="editor-champion">
        <option value=""><%= string('choose-guide') %>...</option>
        <% _(_(CoC.data.champions.pluck('uid')).uniq()).each(function(champion){ %>
          <option value="<%= champion %>"><%= model('champion-'+champion+'-name') %>...</option>
        <% }) %>
      </select>
    </div>

    <div data-role="tabs" class="editor-tabs" data-mini="true" data-theme="a">
      <div id="tab-champion" class="ui-content ui-mini">

        <div class="ui-grid-a">
          <div class="ui-block-a">
            <label for="editor-grade"><%= string('grade') %></label>
            <select id="editor-grade" name="editor-grade">
              <% _(['', 'A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D', 'E', 'F']).each(function(grade){ %>
                <option value="<%= grade %>"><%= grade %></option>
              <% }) %>
            </select>
          </div>

          <div class="ui-block-b">
            <label for="editor-grade-awakened"><%= string('awakened') %></label>
            <select id="editor-grade-awakened" name="editor-grade-awakened">
              <% _(['', 'A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D', 'E', 'F']).each(function(grade){ %>
                <option value="<%= grade %>"><%= grade %></option>
              <% }) %>
            </select>
          </div>
        </div>

        <label for="editor-description"><%= string('description') %></label>
        <textarea id="editor-description" name="description" height=10></textarea>

      </div>
      <div id="tab-gameplay" class="ui-content ui-mini">

        <label for="editor-gameplay-rating"><%= string('rating') %></label>
        <fieldset id="editor-gameplay-rating" data-role="controlgroup" data-type="horizontal" data-mini="true">
          <input type="radio" name="editor-gameplay-rating" id="editor-gameplay-rating-none" value="">
          <label for="editor-gameplay-rating-none"><%= string('none') %></label>
          <% _([1,2,3,4,5]).each(function(number){ %>
            <input type="radio" name="editor-gameplay-rating" id="editor-gameplay-rating-<%= number %>" value="<%= number %>">
            <label for="editor-gameplay-rating-<%= number %>"><%= number %></label>
          <% }) %>
        </fieldset>

        <label for="editor-gameplay-style"><%= string('style') %></label>
        <input type="text" id="editor-gameplay-style" name="editor-gameplay-style" />

        <label for="editor-gameplay-description"><%= string('description') %></label>
        <textarea id="editor-gameplay-description" name="editor-gameplay-description"></textarea>

        <label for="editor-gameplay-abilities"><%= string('passive-abilities') %></label>
        <select id="editor-gameplay-abilities" name="editor-gameplay-abilities" 
          class="select2 js-example-basic-multiple" multiple="multiple" 
          data-role="none" style="width: 100%">
          <% _(_(CoC.data.abilities.pluck('uid')).uniq()).each(function(ability){ %>
            <option value="<%= ability %>"><%= model('ability-'+ability+'-name') %></option>
          <% }) %>
        </select>

        <label for="editor-gameplay-note"><%= string('note') %></label>
        <input type="text" id="editor-gameplay-note" name="editor-gameplay-note" />

      </div>
      <div id="tab-attack" class="ui-content ui-mini">

        <label for="editor-attack-rating"><%= string('rating') %></label>
        <fieldset id="editor-attack-rating" data-role="controlgroup" data-type="horizontal" data-mini="true">
          <input type="radio" name="editor-attack-rating" id="editor-attack-rating-none" value="">
          <label for="editor-attack-rating-none"><%= string('none') %></label>
          <% _([1,2,3,4,5]).each(function(number){ %>
            <input type="radio" name="editor-attack-rating" id="editor-attack-rating-<%= number %>" value="<%= number %>">
            <label for="editor-attack-rating-<%= number %>"><%= number %></label>
          <% }) %>
        </fieldset>

        <label for="editor-attack-description"><%= string('description') %></label>
        <textarea id="editor-attack-description" name="editor-attack-description"></textarea>

        <label for="editor-attack-heavy"><%= string('heavy-attack') %></label>
        <input type="text" id="editor-attack-heavy" name="editor-attack-heavy" />

        <label for="editor-attack-abilities"><%= string('abilities') %></label>
        <select id="editor-attack-abilities" name="editor-attack-abilities" 
          class="select2 js-example-basic-multiple" multiple="multiple" 
          data-role="none" style="width: 100%">
          <% _(_(CoC.data.abilities.pluck('uid')).uniq()).each(function(ability){ %>
            <option value="<%= ability %>"><%= model('ability-'+ability+'-name') %></option>
          <% }) %>
        </select>

        <label for="editor-attack-note"><%= string('note') %></label>
        <input type="text" id="editor-attack-note" name="editor-attack-note" />

      </div>
      <div id="tab-signature" class="ui-content ui-mini">

        <label for="editor-signature-rating"><%= string('rating') %></label>
        <fieldset id="editor-signature-rating" data-role="controlgroup" data-type="horizontal" data-mini="true">
          <input type="radio" name="editor-signature-rating" id="editor-signature-rating-none" value="">
          <label for="editor-signature-rating-none"><%= string('none') %></label>
          <% _([1,2,3,4,5]).each(function(number){ %>
            <input type="radio" name="editor-signature-rating" id="editor-signature-rating-<%= number %>" value="<%= number %>">
            <label for="editor-signature-rating-<%= number %>"><%= number %></label>
          <% }) %>
        </fieldset>

        <label for="editor-signature-name"><%= string('name') %></label>
        <input type="text" id="editor-signature-name" name="editor-signature-name" />

        <label for="editor-signature-description"><%= string('description') %></label>
        <textarea id="editor-signature-description" name="editor-signature-description"></textarea>

        <label for="editor-signature-note"><%= string('note') %></label>
        <input type="text" id="editor-signature-note" name="editor-signature-note" />

      </div>

      <% _([1, 2, 3]).each(function(index){ %>
        <div id="tab-special-<%= index %>" class="ui-content ui-mini">

          <label for="editor-special-<%= index %>-rating"><%= string('rating') %></label>
          <fieldset id="editor-special-<%= index %>-rating" data-role="controlgroup" data-type="horizontal" data-mini="true">
            <input type="radio" name="editor-special-<%= index %>-rating" id="editor-special-<%= index %>-rating-none" value="">
            <label for="editor-special-<%= index %>-rating-none"><%= string('none') %></label>
            <% _([1,2,3,4,5]).each(function(number){ %>
              <input type="radio" name="editor-special-<%= index %>-rating" id="editor-special-<%= index %>-rating-<%= number %>" value="<%= number %>">
              <label for="editor-special-<%= index %>-rating-<%= number %>"><%= number %></label>
            <% }) %>
          </fieldset>
          <label for="editor-special-<%= index %>-name"><%= string('name') %></label>
          <input type="text" id="editor-special-<%= index %>-name" name="editor-special-<%= index %>-name" />
          <label for="editor-special-<%= index %>-description"><%= string('description') %></label>
          <textarea id="editor-special-<%= index %>-description" name="editor-special-<%= index %>-description"></textarea>

          <label for="editor-special-<%= index %>-abilities"><%= string('abilities') %></label>
          <select id="editor-special-<%= index %>-abilities" name="editor-special-<%= index %>-abilities" 
            class="select2 js-example-basic-multiple" multiple="multiple" 
            data-role="none" style="width: 100%">
            <% _(_(CoC.data.abilities.pluck('uid')).uniq()).each(function(ability){ %>
              <option value="<%= ability %>"><%= model('ability-'+ability+'-name') %></option>
            <% }) %>
          </select>

          <label for="editor-special-<%= index %>-damagetypes"><%= string('damage-type') %></label>
          <select id="editor-special-<%= index %>-damagetypes" name="editor-special-<%= index %>-damagetypes" 
            class="select2 js-example-basic-multiple" multiple="multiple" 
            data-role="none" style="width: 100%">
            <% _([
              'Physical',
              'Energy'
            ]).each(function(damagetype){ %>
              <option value="<%= damagetype %>"><%= damagetype %></option>
            <% }) %>
          </select>

          <% if(index !== 3){ %>
            <label for="editor-special-<%= index %>-ranges"><%= string('range') %></label>
            <select id="editor-special-<%= index %>-ranges" name="editor-special-<%= index %>-ranges" 
              class="select2 js-example-basic-multiple" multiple="multiple" 
              data-role="none" style="width: 100%">
              <% _([
                'Melee',
                'Short',
                'Medium',
                'Long'
              ]).each(function(range){ %>
                <option value="<%= range %>"><%= range %></option>
              <% }) %>
            </select>
          <% } %>

          <label for="editor-special-<%= index %>-note"><%= string('note') %></label>
          <input type="text" id="editor-special-<%= index %>-note" name="editor-special-<%= index %>-note" />
        </div>
      <% }) %>

      <div id="tab-author" class="ui-content ui-mini">

        <label for="editor-author-name"><%= string('name') %></label>
        <input type="text" id="editor-author-name" name="editor-author-name" />

        <label for="editor-author-profile-name"><%= string('profile') %></label>
        <div class="editor-author-profile">
            <select id="editor-author-profile-type" name="editor-author-profile-type">
                <option value=""><%= string('none') %></option>
                <option value="reddit"><%= string('profile-reddit') %></option>
                <option value="kabam"><%= string('profile-kabam') %></option>
                <option value="email"><%= string('email') %></option>
            </select>
            <input type="text" id="editor-author-profile-name" name="editor-author-profile-name" />
        </div>

      </div>
      <div class="editor-tabs-navbar" data-role="navbar" data-grid="c">
        <ul>
          <li><a href="#tab-champion" data-ajax="false">
            <%= string('champion') %>  
          </a></li>
          <li><a href="#tab-gameplay" data-ajax="false">
            <%= string('gameplay') %>  
          </a></li>
          <li><a href="#tab-attack" data-ajax="false">
            <%= string('attack') %>  
          </a></li>
          <li><a href="#tab-signature" data-ajax="false">
            <%= string('signature') %>  
          </a></li>

          <li><a href="#tab-special-1" data-ajax="false">
            <%= string('special') + ' ' + 1 %>  
          </a></li>
          <li><a href="#tab-special-2" data-ajax="false">
            <%= string('special') + ' ' + 2 %>  
          </a></li>
          <li><a href="#tab-special-3" data-ajax="false">
            <%= string('special') + ' ' + 3 %>  
          </a></li>
          <li><a href="#tab-author" data-ajax="false">
            <%= string('author') %>  
          </a></li>
        </ul>
      </div>
    </div>
    <div class="editor-import-export">
      <div data-role="navbar" data-grid="a">
        <ul>
          <li>
            <a class="ui-btn" id="editor-import">Import</a>
          </li>
          <li>
            <a class="ui-btn" id="editor-export">Export</a>
          </li>
        </ul>
      </div>
      </div>
  </div>

  <div id="header" data-role="header" data-theme="b" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
    <a href="#popup-editor" class="ui-btn-left"
      data-role="button" 
      data-icon="edit" 
      data-iconpos="notext"
      data-rel="popup"></a>
    <a class="button-share ui-btn-right" href="#panel-options"
      data-role="button" 
      data-icon="bars" 
      data-iconpos="notext"
      data-rel="panel"></a>      
    <h1><%= string('guide') %></h1>
  </div>
    
  <div role="main" class="ui-content" id="guide-content"></div>

  <div id="popup-guide-effect" 
    data-role="popup" 
    data-arrow="true"
    data-theme="a">
    <div role="main" class="ui-content"></div>
  </div>
</div>

<div id="editor-io-container">
  <input id="editor-import-input" type="file" accept=".json">
  <iframe id="editorExportFrame" style="display:none"></iframe>
</div>