<div class="container" title="<%= name %>">
  <div class="inner">
    <div class="portrait-placeholder">
      <svg viewBox="0 0 220 220">
        <use xlink:href="#portrait-placeholder">
      </svg>
    </div>
    <img class="portrait hidden" src="<%= portrait %>" onload="CoC.view.championPortraitLoaded(this)">
    <% if( quest ){ %>
      <img class="quest" src="images/icons/quest.png" />
    <% } %>
    <% if( grade ){ %>
      <div class="grade">
        <span class="grade-<%- grade.substr(0,1).toLowerCase() %>"><%- grade %></span>
        <span>/</span>
        <% if( gradeAwakened ){ %>
          <span class="grade-<%- gradeAwakened.substr(0,1).toLowerCase() %>"><%- gradeAwakened %></span>
        <% } %>
      </div>
    <% } %>
    <div class="title">
      <span class="name"><%- shortname ||name %></span>
    </div>
    <div class="stars">
      <% for( var i=0; i<stars; i++){ %>
        <img class="star" src="<%= (awakened === 0)? 'images/icons/star.png' : 'images/icons/star-awakened.png' %>">
      <% } %>
    </div>
  </div>
</div>
