<h3 class="bold">
  <img class="icon" src="<%- crystal.image() %>">
  <span><%- crystal.get('name') %> Crystal</span>
</h3>
<fieldset data-role="controlgroup" data-mini="true">
  <% if(crystal.get('description')){ %>
    <div class="ui-collapsible-content ui-body-inherit description" aria-hidden="false">
      <p class="selectable">
        <%= parseDescription(crystal) %>
      </p>
    </div>
  <% } %>
  <% _.each([1,2,3,4], function(stars){ %>
    <% if (crystal.champions(stars).size() > 0){ %>
      <div data-role="collapsible">
        <h4>
          <%- ['', '★','★★','★★★','★★★★','★★★★★'][stars] %>
        </h4>
         <% crystal.champions(stars).each(function(champion){ %>
          <div class="crystal-champion">
            <img class="champion <%= champion.get('typeId') %>" src="<%= champion.portrait() %>" />
            <span class="name bold"><%- champion.get('name') %></span>
          </div>
         <% }) %>
      </div>
    <% } %>
  <% }) %>
</fieldset>
