<%= renderMessage(message) %>

<% _(teams).each(function(team){ %>
  <div class="team <%= (size==3)? "three": (size==4)? "four": (size==5)? "five": "unknown" %>">
    <div class="champions">
      <% _(team.champions).each(function(champion){ %>
        <%= renderChampion(champion) %>
      <% }) %>
    </div>
    <br style="clear:both">
    <div class="synergies">
      <% _(team.effects).each(function(effect){ %>
        <div class="synergy" effectId="<%= effect.get("uid") %>" championIds="<%= effect.championIds().join(" ") %>">
          <img class="on" src="<%= effect.image() %>">
          <img class="off" src="<%= effect.imageOff() %>">
          <span><%- effect.get("name") %> +<%- effect.get("amount") %> %</span>
        </div>
      <% }) %>
    </div>
  </div>
<% }); %>
<% if(extras){ %>
  <div id="extras" style="clear:both">
    <h3>Extras</h3>
    <% _(extras).each(function(champion){ %>
      <%= renderChampion(champion) %>
    <% }) %>
  </div>
<% } %>
