@import '../../util/fonts';

.menu-option {
    position: relative;
    display: block;
    cursor: pointer;
    @include font-title(1.1em);
    color: #fff;
    padding: .5em .5em .5em 1.5em;
    text-shadow: 0 1px 0 #000;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;

    &.menu-option--progress,
    &:hover {
        background: rgba(255, 255, 255, .65);
        color: #000;
        text-shadow: 0 1px 0 #fff;
    }

    &.menu-option--red {
        background: #c33;

        &:hover {
            background: rgba(255, 192, 192, .65);
        }
    }

    &.menu-option--selected {
        background: #eee;
        color: #000;
        text-shadow: 0 1px 0 #fff;
    }

    .menu-option--label {
        position: relative;
        pointer-events: none;
    }

    .menu-option-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        max-width: 100%;
        background: #fff;
    }
}
