@import "../../util/colors";

.menu-option--group {
    overflow: hidden;

    .menu-option {
        display: inline-block;
        box-sizing: border-box;
        text-align: center;

        .menu-option--label {
            padding: .5em 0;
        }

        & {
            display: inline-table;
        }

        .fa {
            margin: 0;
        }
    }

    &.menu-option--group-2 {
        .menu-option {
            width: 50%;
        }
    }

    &.menu-option--group-3 {
        .menu-option {
            width: 33.333%;
        }
    }

    &.menu-option--group-4 {
        .menu-option {
            width: 25%;
        }
    }

    &.menu-option--group-5 {
        .menu-option {
            width: 20%;
        }
    }

    &.menu-option--group-6 {
        .menu-option {
            width: 16.665%;
        }
    }

    &.menu-option--group-tabs {
        box-sizing: border-box;
        padding-right: 48px;

        .menu-option {
            width: 25%;
            min-width: 36px;
        }
    }
}
