*{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html, body{
	margin: 0px;
	padding: 0px;
}

@font-face {
  font-family: Hanzel;
  src: url('fonts/hanzel-normal-webfont.eot');
  src: url('fonts/hanzel-normal-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/hanzel-normal-webfont.woff2') format('woff2'),
       url('fonts/hanzel-normal-webfont.woff') format('woff'),
       url('fonts/hanzel-normal-webfont.ttf') format('truetype'),
       url('fonts/hanzel-normal-webfont.svg#hanzelnormal') format('svg');
  font-weight: normal;
  font-style: normal;
}