
#roster-csv-io-container{
  opacity:0;
  pointer-events:none;
  position:absolute;
  top:-10000px;
  left:-10000px;
}

/******************
   ROSTER SORTING
******************/

#panel-roster-options .ui-radio .ui-btn.ui-radio-on.ui-ascending:after{
  width: 20px;
  height: 20px;
  border-width: 0;
  background-color: inherit;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%222.051%2C10.596%207%2C5.646%2011.95%2C10.596%2014.07%2C8.475%207%2C1.404%20-0.071%2C8.475%20%22%2F%3E%3C%2Fsvg%3E");
}

#panel-roster-options .ui-radio .ui-btn.ui-radio-on.ui-descending:after{
  width: 20px;
  height: 20px;
  border-width: 0;
  background-color: inherit;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2211.949%2C3.404%207%2C8.354%202.05%2C3.404%20-0.071%2C5.525%207%2C12.596%2014.07%2C5.525%20%22%2F%3E%3C%2Fsvg%3E");
}

/******************
   ROSTER CONFIG 
******************/

#popup-roster-configure{
  min-width:200px;
}

#roster-configure-name{
  font-family:Hanzel, Verdana, Geneva, sans-serif;
  font-weight:bold;
  text-shadow:1px 1px #fff;
  text-transform: uppercase;
  color:#000;
  display:inline-block;  
}
#roster-configure-type{
  height: 1.5em;
  position: relative;
  top: 0.3em;
}

#roster-configure-stars{
  position:absolute;
  left:16px;
  top:-12px;
  display:block;
  z-index:1;
  text-align:center;
  vertical-align:text-bottom;
  pointer-events:none;
}
#roster-delete-confirm-stars .star,
#roster-configure-stars .star{
  display:inline-block;
  position:relative;
  height:24px;
  width:24px;
  margin-right:2px;
  background:center url(../images/icons/star.png) no-repeat;
  background-size:contain;
}
#roster-delete-confirm-stars .star{
  height:18px;
  width:18px;
  margin-right:1px;
}
#roster-delete-confirm-stars.awakened .star,
#roster-configure-stars.awakened .star{
  background-image:url(../images/icons/star-awakened.png);
}

#popup-roster-configure .extras{
  display:none;
  position:absolute;
  bottom:0;
  right:0;
  width:226px;
  padding:0;
  margin:1.25em;
  z-index:9999;
}

#popup-roster-configure .ui-select,
#popup-roster-configure label.roster-configure-awakened{
  box-sizing:border-box;
  width: 50% !important;
}
#popup-roster-configure label.roster-configure-awakened{
  padding: .7em 0;
  position: relative !important;
  height: inherit;
  width: inherit;
}

#popup-roster-configure .extras .roster-configure-guide{
  background:linear-gradient( rgba(255,255,255,0.75) /*{c-bup-background-start}*/, rgba(200,200,200,0.75) /*{c-bup-background-end}*/);
}

#roster-configure-image{
  position:absolute;
  bottom: 1em;
  margin-bottom: 8px;
  width:256px;
  z-index:-1;
  pointer-events:none;
}

#add-champions .add-all{
  margin:0 auto;
  max-width:500px;
}
  
@media (min-width:500px) and (min-height:400px) {
  
  #popup-roster-configure  .no-extras{
    display:none;
  }
  #popup-roster-configure .extras{
    display:block;
  }
  #popup-roster-configure{
    padding-right: 236px;
  }
}
#roster-configure-class{
  font-weight:bold;
}
