#teams .team{
  margin:auto;
}
#teams .team.three{
  max-width:450px;
}
#teams .team.three .champion{
  width:33.33333333333333333%;
  padding-bottom:33.33333333333333%;
}
#teams .team.four{
  max-width:600px;
}
#teams .team.four .champion{
  width:25%;
  padding-bottom:25%;
}
#teams .team.five{
  max-width:900px;
}
#teams .team.five .champion{
  width:20%;
  padding-bottom:20%;
}

#teams .team .champion .container{
  padding:10px 0 0 0;
}

#teams .team .champions{
  position:relative;
  z-index:1;
}
#teams .team .champions .champion:first-child .title{
  border-top-right-radius:0;
}
#teams .team .champions .champion:last-child .title{
  border-top-left-radius:0;
}

#teams .team .champions .champion:not(:first-child):not(:last-child) .title{
  border-top-left-radius:0;
  border-top-right-radius:0;
}

#teams .synergies{
  position:relative;
  background:rgba(0,0,0,0.666);
  padding-top:20px;
  padding-bottom:1px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}
#teams .synergy{
  padding:5px 10px;
  padding-top:0;
  cursor:pointer;
}
#teams .synergy span{
  position:relative;
  top:-0.5em;
  color:#f0f0f0;
  text-shadow:1px 1px #111;
}
#teams .synergy img.off{
  display:none;
}

#teams .team.selected .champion .portrait{
  opacity:0.25;
}
#teams .team.selected .champion.selected .portrait{
  opacity:1;
}
#teams .team.selected .synergy span{
  color:#aaa;
}
#teams .team.selected .synergy.selected span{
  color:#fff;
}
#teams .team.selected .synergy.selected img.on,
#teams .team.selected .synergy img.off{
  display:inline;
}
#teams .team.selected .synergy img.on,
#teams .team.selected .synergy.selected img.off{
  display:none;
}
#teams .team.locked .synergies::after{
  content: "";
  display: block;
  position: absolute;
  bottom:0;
  right:0;
  width: 42px;
  height: 42px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image:url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M12%2C6V5c0-2.762-2.238-5-5-5C4.239%2C0%2C2%2C2.238%2C2%2C5v1H1v8h12V6H12z%20M7.5%2C9.848V12h-1V9.848%20C6.207%2C9.673%2C6%2C9.366%2C6%2C9c0-0.553%2C0.448-1%2C1-1s1%2C0.447%2C1%2C1C8%2C9.366%2C7.793%2C9.673%2C7.5%2C9.848z%20M10%2C6H4V5c0-1.657%2C1.343-3%2C3-3%20s3%2C1.343%2C3%2C3V6z%22%2F%3E%3C%2Fsvg%3E);
  border-radius: 1em;
  point-events:none;
}

/******************
     PROGRESS
******************/

#team-build-progress{
  overflow:hidden;
  height:46px;
  transition:height .5s;
}

#team-build-progress.hidden{
  height:0;
}

/******************
     SETTINGS
******************/
.ui-controlgroup-controls{
  width:100%;
}
#panel-team-settings #build-settings-size .ui-radio{
  width:33.333%;
}
#panel-team-settings #build-filter-stars .ui-checkbox{
  width:20%;
}
#panel-team-settings .ui-radio label,
#panel-team-settings .ui-checkbox label{
  padding-left:0;
  padding-right:0;
  text-align:center;
}


/******************
    RESPONSIVE
******************/

@media (max-width:355px) {
  #teams .synergy span{
    font-size:0.6em;
  }
  #teams .synergy img{
    width:18px;
    height:18px;
  }
}
@media (max-width:800px) and (min-width:355px) {
  #teams .synergy span{
    font-size:0.8em;
  }
  #teams .synergy img{
    width:24px;
    height:24px;
  }
}
@media (min-width:800px) {
  #teams .synergy span{
    font-size:1em;
    line-height:1em;
  }
  #teams .synergy img{
    width:28px;
    height:28px;
  }
}