*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html, body{
  width:  100%;
  height: 100%;
  margin: 0px;
}

body.ui-mobile-viewport,
.ui-page-theme-a{
  background: #f0f0f0;
  background: -webkit-radial-gradient(#fff, #eee, #aaa); 
  background: -o-radial-gradient(#fff, #eee, #aaa); 
  background: -moz-radial-gradient(#fff, #eee, #aaa); 
  background: radial-gradient(#fff, #eee, #aaa); 
  background-attachment: fixed;
}

@media screen and (orientation: portrait){
  .ui-mobile .ui-page {
    min-height: 100%;
  }
}
@media screen and (orientation: landscape){
  .ui-mobile .ui-page {
    min-height: 100%;
  }
}

.header{
  position:absolute;
  box-sizing: border-box;
  top:0;
  left:0;
  width:100%;
  height:33px;
  background:#eee;
  z-index:1000;
  font-family:Hanzel, Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  box-shadow:0 0 16px 0 rgba(0,0,0,0.5);
}
.button{
  position:relative;
  float:left;
  display:block;
  height:33px;
  box-sizing: border-box;
  text-align:center;
  cursor:pointer;
  text-decoration:none;
  margin:0;
  padding:5px;
}

.button::after{
  position:absolute;
  box-sizing: border-box;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  content:'';
  pointer-events:none;
}
.button.legend,
.button.share{
  width:32px;
}
.button.share{
  float:right;
}
.button.share::before{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  opacity:0.5;
  background:no-repeat center 4px;
  background-size:65%;
  background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M1%2C4h12c0.553%2C0%2C1-0.447%2C1-1s-0.447-1-1-1H1C0.447%2C2%2C0%2C2.447%2C0%2C3S0.447%2C4%2C1%2C4z%20M13%2C6H1C0.447%2C6%2C0%2C6.447%2C0%2C7%20c0%2C0.553%2C0.447%2C1%2C1%2C1h12c0.553%2C0%2C1-0.447%2C1-1C14%2C6.447%2C13.553%2C6%2C13%2C6z%20M13%2C10H1c-0.553%2C0-1%2C0.447-1%2C1s0.447%2C1%2C1%2C1h12%20c0.553%2C0%2C1-0.447%2C1-1S13.553%2C10%2C13%2C10z%22%2F%3E%3C%2Fsvg%3E");
}
.button.share::after{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  background:no-repeat center 4px;
  background-size:65%;
  background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M1%2C4h12c0.553%2C0%2C1-0.447%2C1-1s-0.447-1-1-1H1C0.447%2C2%2C0%2C2.447%2C0%2C3S0.447%2C4%2C1%2C4z%20M13%2C6H1%20C0.447%2C6%2C0%2C6.447%2C0%2C7c0%2C0.553%2C0.447%2C1%2C1%2C1h12c0.553%2C0%2C1-0.447%2C1-1C14%2C6.447%2C13.553%2C6%2C13%2C6z%20M13%2C10H1c-0.553%2C0-1%2C0.447-1%2C1%20s0.447%2C1%2C1%2C1h12c0.553%2C0%2C1-0.447%2C1-1S13.553%2C10%2C13%2C10z%22%2F%3E%3C%2Fsvg%3E");
}
.button.share span{
  color:rgba(0,0,0,0);
  text-shadow:none;
}
.buttons{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  padding-left:32px;
  padding-right:32px;
  box-sizing: border-box;
}
.buttons .button{
  width:20%;
}

.button .narrow{
  display:inherit;
}
.button .wide{
  display:none;
}
.button .on{
  display:none;
}
.button.active .on{
  display:inherit;
}
.button .off{
  display:inherit;
}
.button.active .off{
  display:none;
}
@media (min-width:800px){
  .button .narrow{
    display:none;
  }
  .button .wide{
    display:inherit;
  }
}

.button.ui-btn{
  border-right:none;
}

a.hidden{
  position:absolute;
  top:-1000px;
  left:-1000px;
  opacity:0;
  pointer-events:none;
}

#onboarding-synergies{
  position:absolute;
  opacity:0;
  box-sizing: border-box;
  top:33px;
  left:0;
  width:100%;
  padding:10px;
  font-size:16px;
  font-family:Hanzel, Verdana, Geneva, sans-serif;
  color:#fff;
  text-shadow:1px 1px #111;
  background:rgba(0,0,0,0.5);
  pointer-events:none;
  transition:left 0.333s ease, opacity 0.333s ease;
}
#onboarding-synergies.active{
  opacity:1;
}

#legend{
  position:absolute;
  box-sizing: border-box;
  padding:1px;
  top:33px;
  background:rgba(0,0,0,0.5);
  z-index:100;
  color:#fff;
  text-shadow:1px 1px #111;
  transition:left 0.333s ease, opacity 0.333s ease;
}
#legend div{
  margin: 2px 4px 2px 2px;
  padding-left:2px;
  border-left:solid 1em;
  font-size:16px;
  font-family:Hanzel, Verdana, Geneva, sans-serif;
  cursor:pointer;
}
#legend.selected div{
  opacity:0.25;
}
#legend.selected div.selected{
  opacity:1.0;
}

@media (max-height:500px), (max-width:500px){
  #legend{
    padding-top:1px;
    padding-bottom:1px;
  }
  #legend div{
    margin: 1px 2px 1px 1px;
    padding-left:2px;
    font-size:14px;
  }
  #roster-hint{
    font-size:14px;
  }
}
@media (max-height:350px), (max-width:350px){
  #legend{
    padding-top:1px;
    padding-bottom:1px;
  }
  #legend div{
    margin: 0 2px 0 0;
    padding-left:1px;
    font-size:12px;
  }
  #roster-hint{
    font-size:12px;
  }
}
canvas{
  position:absolute;
  top:33px;
  left:0;
  background: -webkit-radial-gradient(#fff, #eee, #aaa); 
  background: -o-radial-gradient(#fff, #eee, #aaa); 
  background: -moz-radial-gradient(#fff, #eee, #aaa); 
  background: radial-gradient(#fff, #eee, #aaa);
}
canvas.hover{
  cursor:pointer;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}
canvas.dragging{
  cursor:move;
  cursor:-moz-grabbing;
  cursor:-webkit-grabbing;
}
canvas.selecting{
  cursor:crosshair;
  cursor:cell;
}
