/******************
    GUIDE NAV
******************/

.frame { 
  width: 100%; 
  height: 120px; 
  padding: 0; 
}
.frame .slidee { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  list-style: none;
}
.frame .slidee li { 
  cursor:pointer;
  float: left; 
  position:relative;
  padding: 0; 
  width: 120px; 
  height: 100%; 
  opacity:0.33;
  /* transition:opacity 200ms, height 200ms, width 200ms, top 200ms; */
}
.frame .slidee li:hover { 
  opacity:0.66; 
}
.frame .slidee li.active { 
  opacity:1; 
}
.frame .slidee .champion{
  width:100%;
  padding-bottom:100%;
}
.frame .slidee .champion .container{
  padding:0 !important;
}

#page-guide #guide-champions-selector-container,
#page-guide #guide-champions-selector-container .ui-select{
  float:none;
  margin:0;
  width:100%;
  padding-bottom:0;
}
#page-guide #guide-champions-selector-container label{
  display:none;
}
#guide-champions-selector-button{
  width: 100%;
  box-sizing: border-box;
}

#page-guide #guide-champions-selector-container{
  display:none;
}

@media (max-width:850px), (max-height: 750px) {
  .frame { height: 132px; }
  .frame .slidee li { width: 105px; width:105px; top:27px; margin: 0 4px; }
  .frame .slidee li.active { height: 132px; width: 132px; top:0; }
}
@media (max-width:750px), (max-height: 700px) {
  .frame { height: 120px; }
  .frame .slidee li { width: 96px; width:96px; top:24px; margin: 0 3px; }
  .frame .slidee li.active { height: 120px; width: 120px; top:0; }
}
@media (max-width:650px), (max-height: 650px) {
  .frame { height: 108px; }
  .frame .slidee li { width: 86px; width:86px; top:22px; margin: 0 2px; }
  .frame .slidee li.active { height: 108px; width: 108px; top:0; }
}

@media (max-width:550px), (max-height: 500px) {
  .frame { height: 96px; }
  .frame .slidee li { width: 76px; width:76px; top:20px; margin: 0 2px; }
  .frame .slidee li.active { height: 96px; width: 96px; top:0; }
}
@media (max-width:450px), (max-height: 450px) {
  .frame { height: 84px; }
  .frame .slidee li { width: 67px; width:67px; top:17px; margin: 0 1px; }
  .frame .slidee li.active { height: 84px; width: 84px; top:0; }
}
@media (max-width:355px), (max-height: 400px) {
  .frame { height: 72px; }
  .frame .slidee li { width: 57px; width:57px; top:15px; margin: 0 1px;  }
  .frame .slidee li.active { height: 72px; width: 72px; top:0; }
}

/******************
  GUIDE SELECTOR
******************/
#popup-guide-champions-select{
  position:fixed;
}

#guide-champions-popup-select{
  min-width:200px;
  min-height:200px;
  overflow-y:scroll;
}

#guide-champions-selector-dialog img.champion{
  width: 32px;
  height: 32px;
  max-height: 32px;
  max-width: 28px;
  top: 4px;
  left: 4px;
  padding:0;
  border-bottom:solid 4px;
  box-sizing: border-box;
}

#guide-champions-selector-dialog .grade{
  float:right;
}

#guide-champions-selector-dialog .ui-dialog-contain {
  margin: 3em auto 1em auto;
}

#guide-champions-selector-dialog li[role=heading]{
  padding-left:30px;
}

#guide-champions-selector-dialog li[role=heading] img{
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
}

/******************
      GUIDES
******************/
#guide-content h1, 
#guide-content h1 a, 
#guide-content h2, 
#guide-content h2 a, 
#guide-content h3, 
#guide-content h3 a, 
#guide-content h4, 
#guide-content h4 a, 
#guide-content label,
#guide-content .title p{
  font-family:Hanzel, Verdana, Geneva, sans-serif;
  text-transform:uppercase;
}

#guide-content .background{
  pointer-events:none;
  position:fixed;
  bottom:69px;
  right:0;
  z-index:0;
  height:50%;
  opacity:0.5;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
}
#guide-content .container{
  z-index:10;
  position:relative;
}

#guide-content p.bold{
  font-size:1.15em;
}

#guide-content .rating{
  float:right;
  padding-right:20px;
}
#guide-content .grade-a,
#guide-content .rating-5{
  color:#0c0;
} 
#guide-content .grade-b,
#guide-content .rating-4{
  color:#6c0;
} 
#guide-content .grade-c,
#guide-content .rating-3{
  color:#990;
} 
#guide-content .grade-d,
#guide-content .rating-2{
  color:#c60;
} 
#guide-content .grade-e,
#guide-content .grade-f,
#guide-content .rating-1{
  color:#c00;
} 

#guide-content .range-melee{
  color:#600;
} 
#guide-content .range-short{
  color:#c00;
} 
#guide-content .range-medium{
  color:#990;
} 
#guide-content .range-long{
  color:#0c0;
} 

#guide-content .damage-energy{
  color:#06c;
} 

#guide-content .ability-stun{
  color:#660;
} 
#guide-content .ability-fatigue{
  color:#000;
} 
#guide-content .ability-powerdrain{
  color:#60c;
} 
#guide-content .ability-powerburn{
  color:#c06;
} 
#guide-content .ability-bleed{
  color:#c00;
} 
#guide-content .ability-cauterize{
  color:#600;
} 
#guide-content .ability-armorbreak{
  color:#000;
} 
#guide-content .ability-fury{
  color:#c60;
} 
#guide-content .ability-regeneration{
  color:#0c0;
} 
#guide-content .ability-unstoppable{
  color:#c0c;
} 
#guide-content .ability-poison{
  color:#060;
} 
#guide-content .ability-armorup{
  color:#66c;
} 
#guide-content .ability-plusdamage{
  color:#c00;
} 
#guide-content .ability-pluscritrate{
  color:#c90;
} 
#guide-content .ability-pluscritdamage{
  color:#c90;
} 
#guide-content .ability-poisonimmunity{
  color:#444;
} 
#guide-content .ability-bleedimmunity{
  color:#444;
} 

#guide-content .synergy{
  position:relative;
  padding-left:58px;
  min-height:32px;
  line-height:2em;
}
#guide-content .synergy span{
  cursor:pointer;
  display:inline-block;
}

#guide-content .synergy img{
  position:absolute;
  top: 2px;
} 
#guide-content .synergy img.champion-mini{
  left:0;
  border-bottom:solid 4px;
  padding:0;
  width:24px;
  height:24px;
} 
#guide-content .synergy img.effect{
  left:24px;
  width:28px;
} 

#guide-content .ui-collapsible-heading-toggle{
  background:linear-gradient( rgba(255,255,255,0.5) /*{c-bup-background-start}*/, rgba(200,200,200,0.5) /*{c-bup-background-end}*/);
}
#guide-content .ui-collapsible-content{
  background:rgba(255,255,255,0.5);
}

#guide-content .crystal{
  position:relative;
  padding-left:32px;
  min-height:32px;
  line-height:2em;
}

#guide-content .crystal img{
  position:absolute;
  top: 2px;
  left:0;
  padding:0;
  width:24px;
  height:24px;
}

#guide-content .author-credit{
  border-style: solid;
  border-width: 1px;
  margin: auto;
  padding: 16px;
  text-align:center;
}

@media (max-width:450px), (max-height:450px) {
  #guide-content{
    padding:0;
    font-size:0.8em;
  }
  #guide-content .ui-collapsible-inset .ui-collapsible-heading .ui-btn,
  #guide-content .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    border-left-width:0;
    border-right-width:0;
    border-radius:0;
  }
  #guide-content .ui-collapsible-inset .ui-collapsible-heading .ui-btn{
    border-top-width:0;
  }
  #guide-content .ui-collapsible{
    margin:0;
  }
  #guide-content .author-credit{
    border:none;
    border-radius:0;
  }
}

@media (max-width:700px) and (min-width:351px) {
  #guide-content{
    font-size:0.9em;
  }
}

@media (max-width:800px) {
  #guide-content .box{
    width: 100%;
  }
}

@media (max-width:1100px) and (min-width:801px){
  #guide-content .box{
    float:left;
    width: 49.5%;
    margin: 0;
    margin-bottom: .5em;
    margin-left: 1%;
  }
  #guide-content .box:nth-child(2n+1){  
    clear: both;
    margin-left: 0;
  }
}
@media (max-width:1100px) and (min-width:801px) and (max-height: 450px){
  #guide-content .box{
    width: 50%;
    margin:0;
    margin-top: -2px;
    margin-left: -3px;
    padding:1px;
  }
  #guide-content .box:nth-child(2n+1){
    margin-left: -1px;
  }
  #guide-content .ui-collapsible-inset .ui-collapsible-heading .ui-btn,
  #guide-content .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    border-left-width:1px;
    border-right-width:1px;
  }
  #guide-content .ui-collapsible-inset .ui-collapsible-heading .ui-btn{
    border-top-width:1px;
  }
}

@media (max-width:1600px) and (min-width:1101px){
  #guide-content .boxes{
    margin-left:1px;
  }
  #guide-content .box{
    float:left;
    width: 33%;
    margin: 0;
    margin-bottom: .5em;
    margin-left: .5%;
  }
  #guide-content .box:nth-child(3n+1){  
    clear: both;
    margin-left: 0;
  }
}
@media (max-width:1600px) and (min-width:1101px) and (max-height: 450px){
  #guide-content .box{
    width: 33.333%;
    margin:0;
    margin-top: -2px;
    margin-left: -3px;
    padding:1px;
  }
  #guide-content .box:nth-child(3n+1){
    margin-left: -1px;
  }
  #guide-content .ui-collapsible-inset .ui-collapsible-heading .ui-btn,
  #guide-content .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    border-left-width:1px;
    border-right-width:1px;
  }
  #guide-content .ui-collapsible-inset .ui-collapsible-heading .ui-btn{
    border-top-width:1px;
  }
}

@media (max-width:2000px) and (min-width:1601px){
  #guide-content .box{
    float:left;
    width: 24.5%;
    margin: 0;
    margin-bottom: .5em;
    margin-left: .66%;
  }
  #guide-content .box:nth-child(4n+1){  
    clear: both;
    margin-left: 0;
  }
}
@media (max-width:2000px) and (min-width:1601px) and (max-height: 450px){
  #guide-content .boxes{
    position: relative;
    left: 1px;
  }
  #guide-content .box{
    width: 25%;
    margin:0;
    margin-top: -2px;
    margin-left: -3px;
    padding:1px;
  }
  #guide-content .box:nth-child(4n+1){
    margin-left: -1px;
  }
  #guide-content .ui-collapsible-inset .ui-collapsible-heading .ui-btn,
  #guide-content .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    border-left-width:1px;
    border-right-width:1px;
  }
  #guide-content .ui-collapsible-inset .ui-collapsible-heading .ui-btn{
    border-top-width:1px;
  }
}

@media (min-width:2001px){
  #guide-content .box{
    float:left;
    width: 19.5%;
    margin: 0;
    margin-bottom: .5em;
    margin-left:.625%;
  }
  #guide-content .box:nth-child(5n+1){  
    clear: both;
    margin-left: 0;
  }
}
@media (min-width:2001px) and (max-height: 450px){
  #guide-content .boxes{
    position: relative;
    left: 2px;
  }
  #guide-content .box{
    width: 20%;
    margin:0;
    margin-top: -2px;
    margin-left: -3px;
    padding:1px;
  }
  #guide-content .box:nth-child(5n+1){
    margin-left: -1px;
  }
  #guide-content .ui-collapsible-inset .ui-collapsible-heading .ui-btn,
  #guide-content .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    border-left-width:1px;
    border-right-width:1px;
  }
  #guide-content .ui-collapsible-inset .ui-collapsible-heading .ui-btn{
    border-top-width:1px;
  }
}
