.xmas-snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2147483647;
    pointer-events: none;

    .xmas-snow-flake {
        position: absolute;
        color: #fff;
    }
}
